<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/carritoEntera.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <header>
        <%- include('../partials/navBar.ejs') %>
    </header>
    <main class="container-fluid">
        <section class="row">
            <article class="col-12 text-center">
                <h2 class="text-uppercase text-center">¡Muchas gracias por tu compra!</h2>
                <div class="col-12 mb-5">
                    <img src="img/Mesa de trabajo 3@.png" alt="Logo Sneakerest" class="logo-footer-mobile mx-auto">
                </div>
                <a href="/" class="text-uppercase text-body text-underline " style="font-size: .7rem;">volver al inicio</a>
            </article>
        </section>
    </main>
    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>