<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/carritoEntera.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    
    <header>
        <%- include('../partials/navBar.ejs') %>
    </header>
    
    <main>
        <section class="container-fluid d-sm-block d-md-none my-auto">
            <div class="ml-2 d-md-flex justify-content-between">
                <div class="col-md-6 d-md-flex flex-column justify-content-start padre-envio">
                    <article class="datos-envio mt-5">
                        <p class="col-12">
                            <button class="btn col-12 row d-flex align-items-center justify-content-start pl-0" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                <div class="col-2 box-numero d-flex justify-content-start align-items-center">
                                    <p class="my-auto mx-auto px-auto">1</p>
                                </div>
                                <p class="col-9 text-uppercase my-auto d-flex justify-content-start">tus datos</p>
                            </button>
                        </p>
                        <div class="collapse" id="collapseExample">
                            <p class="col-12 pl-0">Registro</p>
                            <input type="text" name="nombre" placeholder="Nombre Completo" class="col-12 mb-2 datos-envio-input">
                            <input type="text" name="apellido" placeholder="Apellido(s)" class="col-12 my-2 datos-envio-input">
                            <input type="tel" name="tel" placeholder="Teléfono" class="col-12 my-2 datos-envio-input">
                            <input type="email" name="email" placeholder="Correo Electrónico" class="col-12 my-2 datos-envio-input">
                        </div>
                    </article>
                    <article class="datos-envio mt-5">
                        <p class="col-12">
                            <button class="btn col-12 row d-flex align-items-center justify-content-start pl-0" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                                <div class="col-2 box-numero d-flex justify-content-start align-items-center">
                                    <p class="my-auto mx-auto px-auto">2</p>
                                </div>
                                <p class="col-9 text-uppercase my-auto d-flex justify-content-start">envio</p>
                            </button>
                        </p>
                        <div class="collapse" id="collapseExample2">
                            <input type="text" name="Calle" placeholder="Calle" class="col-12 mb-2 datos-envio-input">
                            <div class="d-flex justify-content-between">
                                <input type="number" name="numero-calle" placeholder="Número" class="col-3 my-2 datos-envio-input">
                                <input type="number" name="piso" placeholder="Piso" class="col-3 my-2 datos-envio-input">
                                <input type="text" name="depto" placeholder="Depto" class="col-3 my-2 datos-envio-input">
                            </div>
                            <input type="text" name="ciudad" placeholder="Ciudad" class="col-12 my-2 datos-envio-input">
                            <div class="d-flex justify-content-between">
                                <input type="text" name="provincia" placeholder="Provincia" class="col-8 my-2 datos-envio-input">
                                <input type="numeric" name="CP" placeholder="C. P." class="col-3 my-2 datos-envio-input">
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 d-md-flex flex-column justify-content-start">
                    <article class="lista-confirmar-productos my-5">
                        <p class="col-12">
                            <button class="btn col-12 row d-flex align-items-center justify-content-start pl-0" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                                <div class="col-2 box-numero d-flex justify-content-center align-items-center">
                                    <p class="my-auto"><i class="fas fa-shopping-cart"></i></p>
                                </div>
                                <p class="col-9 text-uppercase my-auto d-flex justify-content-start">tu pedido</p>
                            </button>
                        </p>
                        <div class="collapse show" id="collapseExample3">
                            <div class="col-12 row linea-producto mt-3">
                                <div class="d-flex justify-content-between align-items-center px-0 mb-3">
                                    <div class="col-3 pl-0">
                                        <img src="img/Campus_ADV_Shoes_Black_B22716_01_standard.jpg" alt="Adidas Campus ADV Black">
                                    </div>
                                    <div class="col-4 pr-0 descripcion-producto">
                                        <p class="font-weight-bold mb-0 modelo-descripcion-producto" id="modeloLg">Adidas Campus ADV</p>
                                        <p class="codigo-descripcion-producto">#AC45B65</p>
                                        <div class="d-flex justify-content-start">
                                            <i class="fas fa-circle circulo-color-carrito circulo-blanco"></i>
                                            <i class="fas fa-circle circulo-color-carrito circulo-negro"></i>
                                            <i class="fas fa-circle circulo-color-carrito circulo-dorado"></i>
                                        </div>
                                    </div>
                                    <div class="col-1 px-1 d-flex justify-content-center align-items-center">
                                        <p class="cantidad-producto my-auto">1</p>
                                    </div>
                                    <div class="col-2 precio-producto d-flex justify-content-end pr-0">
                                        <p class="precio-producto my-auto">$4.798.99</p>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-12 row linea-producto mt-3">
                                <div class="d-flex justify-content-between align-items-center px-0 mb-3">
                                    <div class="col-3 pl-0">
                                        <img src="img/Campus_ADV_Shoes_Black_B22716_01_standard.jpg" alt="Adidas Campus ADV Black">
                                    </div>
                                    <div class="col-4 pr-0 descripcion-producto">
                                        <p class="font-weight-bold mb-0 modelo-descripcion-producto">Adidas Campus ADV</p>
                                        <p class="codigo-descripcion-producto">#AC45B65</p>
                                        <div class="d-flex justify-content-start">
                                            <i class="fas fa-circle circulo-color-carrito circulo-blanco"></i>
                                            <i class="fas fa-circle circulo-color-carrito circulo-negro"></i>
                                            <i class="fas fa-circle circulo-color-carrito circulo-dorado"></i>
                                        </div>
                                    </div>
                                    <div class="col-1 px-1 d-flex justify-content-center align-items-center">
                                        <p class="cantidad-producto my-auto">1</p>
                                    </div>
                                    <div class="col-2 precio-producto d-flex justify-content-end pr-0">
                                        <p class="precio-producto my-auto">$4.798.99</p>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-12 row d-flex flex-column linea-producto mt-3">
                                <div class="row d-flex justify-content-between resumen-valores">
                                    <p class="col-3">Subtotal</p>
                                    <p class="col-4 d-flex justify-content-end">$9.999,99</p>
                                </div>
                                <div class="row d-flex justify-content-between resumen-valores">
                                    <p class="col-3">Envío</p>
                                    <p class="col-4 d-flex justify-content-end">$0,00</p>
                                </div>
                            </div>
                            <div class="col-12 row d-flex justify-content-between mt-3 resumen-valores font-weight-bold">
                                <p class="col-3 text-uppercase px-0">Total</p>
                                <p class="col-4 d-flex justify-content-end px-0">$9.999,99</p>
                            </div>
                            <div class="col-12 row d-flex justify-content-end mt-3 pr-0">
                                <div class="boton-proceder-pago col-6 d-flex justify-content-center align-items-center">
                                    <a href="/pago"></a><button class="btn text-uppercase" type="submit">Proceder al pago</button></a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <section class="container-fluid d-none d-md-block my-auto">
            <div class="row mt-5 d-flex justify-content-around">
                <div class="col-md-12 col-lg-5 primera-columna">
                    <!--Tus datos-->
                    <div class="formularios-datos ">
                        <div class="d-flex justify-content-start mb-4 titulo-listas">
                            <div class="col-2 box-numero d-flex justify-content-center align-items-center">
                                <p class="my-auto">1</p>
                            </div>
                            <p class="col-9 text-uppercase my-auto titulo-numeros">tus datos</p>
                        </div>
                        <div class="col-12 row d-flex justify-content-start mr-0 pr-0">
                            <p class="col-12 pl-0">Registro</p>
                            <input type="text" name="nombre" placeholder="Nombre Completo" class="col-12 mb-2 datos-envio-input">
                            <input type="text" name="apellido" placeholder="Apellido(s)" class="col-12 my-2 datos-envio-input">
                            <input type="tel" name="tel" placeholder="Teléfono" class="col-12 my-2 datos-envio-input">
                            <input type="email" name="email" placeholder="Correo Electrónico" class="col-12 my-2 datos-envio-input">
                        </div>
                    </div>
                    <!--Envío-->
                    <div class="formularios-datos ">
                        <div class="d-flex justify-content-start mb-5 titulo-listas">
                            <div class="col-2 box-numero d-flex justify-content-center align-items-center">
                                <p class="my-auto">2</p>
                            </div>
                            <p class="col-9 text-uppercase my-auto titulo-numeros">envío</p>
                        </div>
                        <div class="col-12 row d-flex justify-content-start mr-0 pr-0">
                            <input type="text" name="Calle" placeholder="Calle" class="col-12 mb-2 datos-envio-input">
                            <div class="col-12 d-flex justify-content-between px-0">
                                <input type="number" name="numero-calle" placeholder="Número" class="col-3 my-2 datos-envio-input">
                                <input type="number" name="piso" placeholder="Piso" class="col-3 my-2 datos-envio-input">
                                <input type="text" name="depto" placeholder="Depto" class="col-3 my-2 datos-envio-input">
                            </div>
                            <input type="text" name="ciudad" placeholder="Ciudad" class="col-12 my-2 datos-envio-input">
                            <div class=" col-12 d-flex justify-content-between px-0">
                                <input type="text" name="provincia" placeholder="Provincia" class="col-8 my-2 datos-envio-input">
                                <input type="number" name="CP" placeholder="C. P." class="col-3 my-2 datos-envio-input">
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tu pedido-->
                <div class="col-md-12 col-lg-5 segunda-columna">
                    <div class="col-12 row titulo-listas ml-1">
                        <div class="col-2 box-numero d-flex justify-content-start align-items-center px-0">
                            <p class="m-auto"><i class="fas fa-shopping-cart"></i></p>
                        </div>
                        <div class="col-9">
                            <p class="text-uppercase my-auto titulo-numeros">Tu pedido</p>
                        </div>
                    </div>
                    <div class="col-12 row linea-producto mx-auto mt-3">
                        <div class="d-flex justify-content-between align-items-center px-0 mb-3">
                            <div class="col-3 pl-0">
                                <img src="img/Campus_ADV_Shoes_Black_B22716_01_standard.jpg" alt="Adidas Campus ADV Black">
                            </div>
                            <div class="col-5 pr-0 descripcion-producto">
                                <p class="font-weight-bold mb-0 modelo-descripcion-producto" id="modeloLg">Adidas Campus ADV</p>
                                <p class="codigo-descripcion-producto">#AC45B65</p>
                                <div class="d-flex justify-content-start">
                                    <i class="fas fa-circle circulo-color-carrito circulo-blanco"></i>
                                    <i class="fas fa-circle circulo-color-carrito circulo-negro"></i>
                                    <i class="fas fa-circle circulo-color-carrito circulo-dorado"></i>
                                </div>
                            </div>
                            <div class="col-1 px-1 d-flex justify-content-center align-items-center">
                                <p class="cantidad-producto my-auto">1</p>
                            </div>
                            <div class="col-3 precio-producto d-flex justify-content-end pr-0">
                                <p class="precio-producto my-auto">$4.798.99</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 row linea-producto mx-auto mt-3">
                        <div class="d-flex justify-content-between align-items-center px-0 mb-3">
                            <div class="col-3 pl-0">
                                <img src="img/Campus_ADV_Shoes_Black_B22716_01_standard.jpg" alt="Adidas Campus ADV Black">
                            </div>
                            <div class="col-5 pr-0 descripcion-producto">
                                <p class="font-weight-bold mb-0 modelo-descripcion-producto" id="modeloLg">Adidas Campus ADV</p>
                                <p class="codigo-descripcion-producto">#AC45B65</p>
                                <div class="d-flex justify-content-start">
                                    <i class="fas fa-circle circulo-color-carrito circulo-blanco"></i>
                                    <i class="fas fa-circle circulo-color-carrito circulo-negro"></i>
                                    <i class="fas fa-circle circulo-color-carrito circulo-dorado"></i>
                                </div>
                            </div>
                            <div class="col-1 px-1 d-flex justify-content-center align-items-center">
                                <p class="cantidad-producto my-auto">1</p>
                            </div>
                            <div class="col-3 precio-producto d-flex justify-content-end pr-0">
                                <p class="precio-producto my-auto">$4.798.99</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 row d-flex flex-column linea-producto mx-auto mt-3">
                        <div class="row d-flex justify-content-between resumen-valores">
                            <p class="col-3">Subtotal</p>
                            <p class="col-4 d-flex justify-content-end">$9.999,99</p>
                        </div>
                        <div class="row d-flex justify-content-between resumen-valores">
                            <p class="col-3">Envío</p>
                            <p class="col-4 d-flex justify-content-end">$0,00</p>
                        </div>
                    </div>
                    <div class="col-12 row d-flex justify-content-between mt-4 resumen-valores total-valores mx-auto">
                        <p class="col-3 text-uppercase px-0 font-weight-bold">Total</p>
                        <p class="col-4 d-flex justify-content-end px-0 font-weight-bold">$9.999,99</p>
                    </div>
                    <div class="col-12 row d-flex justify-content-end mt-1 pr-0">
                        <div class="boton-proceder-pago col-6 bg-dark d-flex justify-content-center align-items-center">
                            <a href="/pago"><button class="btn text-uppercase text-white" type="submit">Proceder al pago</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container ruta-ante-footer">
            <div class="row">
                <div class="col-12 d-flex justify-content-center align-items-center ruta-ante-footer-a mb-3">
                    <a href="#" class="px-1 text-uppercase text-decoration-none text-body">SNKRST</a>
                    <p class="px-1 mb-0"> | </p>
                    <a href="#" class="px-1 text-uppercase text-decoration-none text-body">Carrito</a>
                    <p class="px-1 mb-0"> | </p>
                    <a href="#" class="px-1 text-uppercase text-decoration-none text-body">Informacion de envío</a>
                </div>
            </div>
        </section>
        
        
    </main>
    
    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>  
</body>
</html>