<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/pago.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    
    <header class="mb-0">
        <%- include('../partials/navBar.ejs') %>
    </header>
    
    <main>
        <!--Mobile-->
        <div class="d-sm-block d-md-none">
            <div class="container">
                <h2 class="col-12 text-uppercase font-weight-bold bg-white text-center mb-0 pb-5 mx-auto px-auto">revisá y comprá</h2>
                <p class="col-12">
                    <button class="btn col-12 row d-flex align-items-center justify-content-start pl-0 mx-0" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                        <div class="col-12 d-flex justify-content-between align-items-center boton-pedido-drop mx-auto">
                            <div class="col-10 d-flex justify-content-start">
                                <div class="col-2 box-numero d-flex justify-content-center align-items-center">
                                    <p class="my-auto"><i class="fas fa-shopping-cart"></i></p>
                                </div>
                                <p class="col-9 text-uppercase my-auto d-flex justify-content-start tu-pedido">tu pedido </p>
                            </div>
                            <p class="col-1 mb-0">▼</p>
                        </div>
                    </button>
                </p>
                <div class="collapse" id="collapseExample3">
                    <!--Primer producto revisión de pedido-->
                    <div class="col-12 row linea-producto d-flex justify-content-between align-items-center mb-3 pb-3">
                        <!--Imagen producto-->
                        <div class="col-3 pl-0">
                            <img src="img/Campus_ADV_Shoes_Black_B22716_01_standard.jpg" alt="Adidas Campus ADV Black">
                        </div>
                        <!--Modelo, código y color-->
                        <div class="col-4 descripcion-producto">
                            <p class="font-weight-bold mb-0 modelo-descripcion-producto" id="modeloLg">Adidas Campus ADV</p>
                            <p class="codigo-descripcion-producto">#AC45B65</p>
                            <div class="d-flex justify-content-start">
                                <i class="fas fa-circle circulo-color-carrito circulo-blanco"></i>
                                <i class="fas fa-circle circulo-color-carrito circulo-negro"></i>
                                <i class="fas fa-circle circulo-color-carrito circulo-dorado"></i>
                            </div>
                        </div>
                        <!--Cantidad producto-->
                        <div class="col-1 d-flex justify-content-center align-items-center">
                            <p class="cantidad-producto my-auto">1</p>
                        </div>
                        <!--Precio producto-->
                        <div class="col-2 precio-producto d-flex justify-content-end">
                            <p class="precio-producto my-auto">$4.798.99</p>
                        </div>
                    </div>
                    <!--Segundo producto revisión de pedido-->
                    <div class="col-12 row linea-producto d-flex justify-content-between align-items-center mb-3 pb-3">
                        <!--Imagen producto-->
                        <div class="col-3 pl-0">
                            <img src="img/Campus_ADV_Shoes_Black_B22716_01_standard.jpg" alt="Adidas Campus ADV Black">
                        </div>
                        <!--Modelo, código y color-->
                        <div class="col-4 descripcion-producto">
                            <p class="font-weight-bold mb-0 modelo-descripcion-producto" id="modeloLg">Adidas Campus ADV</p>
                            <p class="codigo-descripcion-producto">#AC45B65</p>
                            <div class="d-flex justify-content-start">
                                <i class="fas fa-circle circulo-color-carrito circulo-blanco"></i>
                                <i class="fas fa-circle circulo-color-carrito circulo-negro"></i>
                                <i class="fas fa-circle circulo-color-carrito circulo-dorado"></i>
                            </div>
                        </div>
                        <!--Cantidad producto-->
                        <div class="col-1 d-flex justify-content-center align-items-center">
                            <p class="cantidad-producto my-auto">1</p>
                        </div>
                        <!--Precio producto-->
                        <div class="col-2 precio-producto d-flex justify-content-end">
                            <p class="precio-producto my-auto">$4.798.99</p>
                        </div>
                    </div>
                    <!--Subtotal y envío-->
                    <div class="col-12 row linea-producto d-flex flex-column mb-3">
                        <!--Subtotal-->
                        <div class="row d-flex justify-content-between resumen-valores">
                            <p class="col-3">Subtotal</p>
                            <p class="col-4 d-flex justify-content-end">$9.999,99</p>
                        </div>
                        <!--Envío-->
                        <div class="row d-flex justify-content-between resumen-valores">
                            <p class="col-3">Envío</p>
                            <p class="col-4 d-flex justify-content-end">$0,00</p>
                        </div>
                    </div>
                    <!--Total-->
                    <div class="col-12 row linea-producto d-flex justify-content-between resumen-valores border-0">
                        <p class="col-3 text-uppercase font-weight-bold px-0">Total</p>
                        <p class="col-4 d-flex justify-content-end font-weight-bold px-0">$9.999,99</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <section class="col-12">
                        <p class="text-uppercase my-auto d-flex justify-content-start revisar-pedido-pago pb-2">Pago</p>
                    </section>
                    <section class="col-12">
                        <div class="accordion col-12" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left d-flex align-items-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <input type="radio" name="tarjetas">
                                            <p class="my-auto pl-2 titulo-tarjetas">Tarjeta de crédito</p>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body row d-flex justify-content-between px-4">
                                        <input type="number" placeholder="Número de tarjeta" class="col-12">
                                        <input type="text" placeholder="Nombre en la tarjeta" class="col-12">
                                        <input type="numeric" placeholder="Vencimiento (MMAA)" minlength="4" maxlength="4" class="col-7 mb-auto">
                                        <input type="numeric" placeholder="CVV" minlength="3" maxlength="3" class="col-4 mb-auto cvv">
                                    </div>
                                    <div class="row px-4">
                                        <input class="btn btn-dark rounded-0 col-12 boton-compra my-3" type="submit" value="REALIZAR COMPRA">
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left d-flex align-items-center" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                            <input type="radio" name="tarjetas">
                                            <p class="my-auto pl-2 titulo-tarjetas">Tarjeta de débito</p>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body row d-flex justify-content-between px-4">
                                        <input type="number" placeholder="Número de tarjeta" class="col-12">
                                        <input type="text" placeholder="Nombre en la tarjeta" class="col-12">
                                        <input type="numeric" placeholder="Vencimiento (MMAA)" minlength="4" maxlength="4" class="col-7 mb-auto">
                                        <input type="numeric" placeholder="CVV" minlength="3" maxlength="3" class="col-4 mb-auto cvv">
                                    </div>
                                    <div class="row px-4">
                                        <input class="btn btn-dark rounded-0 col-12 boton-compra my-3" type="submit" value="REALIZAR COMPRA">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    
                </div>
            </div>
            <div class="container ruta-ante-footer">
                <div class="row">
                    <section class="col-12 d-flex justify-content-center align-items-center ruta-ante-footer-a">
                        <a href="/" class="px-1 text-uppercase text-decoration-none text-body">SNKRST</a>
                        <p class="px-1 mb-0"> | </p>
                        <a href="/carrito" class="px-1 text-uppercase text-decoration-none text-body">Carrito</a>
                        <p class="px-1 mb-0"> | </p>
                        <a href="formularioCompra" class="px-1 text-uppercase text-decoration-none text-body">Informacion de envío</a>
                        <p class="px-1 mb-0"> | </p>
                        <a href="/pago" class="px-1 text-uppercase text-decoration-none text-body">Pago</a>
                    </section>
                </div>
            </div>
        </div>
        <!--Tablet para arriba-->
        <div class="container-fluid d-none d-md-block bg-light">
            <div class="row">
                <h2 class="col-12 text-uppercase font-weight-bold bg-white text-center mb-0 pb-5">revisá y comprá</h2>
                <!--Columna izquierda-->
                <section class="col-7 bg-white">
                    <div class="row columna-izquierda mt-5">
                        <!--Resumen: contacto, direccion de envio y costo de envio-->
                        <article class="col-12 mb-3">
                            <div class="col-12 cabecera-pago mx-auto mb-4">
                                <p class="text-uppercase my-auto d-flex justify-content-start revisar-pedido-pago pb-3 mt-0">Tus datos</p>
                            </div>
                            <div class="col-10 caja-datos-comprador mx-auto">
                                <!--Primera linea: contacto-->
                                <div class="col-12 d-flex justify-content-between align-items-center px-0 py-3 datos-comprador">
                                    <div class="col-9 d-flex justify-content-start align-items-center px-0">
                                        <p class="col-3 mb-0 pl-0 text-secondary text-center">Contacto</p>
                                        <p class="col-8 mb-0 px-0 py-auto" id="contacto-comprador">juan@digitalhouse.com</p>
                                    </div>
                                    <div class="col-3 cambiar-datos d-flex align-items-center justify-content-end pr-0">
                                        <a href="#">Cambiar</a>
                                    </div>
                                </div>
                                <!--Segunda linea: dirección de envío-->
                                <div class="col-12 d-flex justify-content-between align-items-center px-0 py-3 datos-comprador">
                                    <div class="col-9 d-flex justify-content-start align-items-center px-0">
                                        <p class="col-3 mb-0 pl-0 text-secondary text-center">Enviar a</p>
                                        <p class="col-8 mb-0 px-0 py-auto" id="contacto-comprador">Calle Falsa 123, CABA (1234)</p>
                                    </div>
                                    <div class="col-3 cambiar-datos d-flex align-items-center justify-content-end pr-0">
                                        <a href="#">Cambiar</a>
                                    </div>
                                </div>
                                <!--Tercera linea: Costo envío-->
                                <div class="col-12 d-flex justify-content-between align-items-center px-0 py-3">
                                    <div class="col-9 d-flex justify-content-start align-items-center px-0">
                                        <p class="col-3 mb-0 pl-0 text-secondary text-center">Costo de envío</p>
                                        <p class="col-8 mb-0 px-0 py-auto" id="contacto-comprador">GRATIS - $0,00</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!--Pago-->
                        <article class="col-12 caja-padre-pago">
                            <div class="col-12 cabecera-pago mx-auto mt-5 mb-4">
                                <p class="text-uppercase my-auto d-flex justify-content-start revisar-pedido-pago pb-3">Pago</p>
                            </div>
                            <div class="col-12">
                                <div class="accordion col-12" id="accordionExample">
                                    <!--Crédito-->
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left d-flex align-items-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    <input type="radio" name="tarjetas">
                                                    <p class="my-auto pl-2 titulo-tarjetas">Tarjeta de crédito</p>
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body row d-flex justify-content-between px-4">
                                                <input type="number" placeholder="Número de tarjeta" class="col-12">
                                                <input type="text" placeholder="Nombre en la tarjeta" class="col-12">
                                                <input type="numeric" placeholder="Vencimiento (MMAA)" minlength="4" maxlength="4" class="col-7 mb-auto">
                                                <input type="numeric" placeholder="CVV" minlength="3" maxlength="3" class="col-4 mb-auto cvv">
                                            </div>
                                            <div class="row px-4">
                                                <a href="/compraTerminada" class="col-12">
                                                    <input class="btn btn-dark rounded-0 col-12 boton-compra my-3" type="submit" value="REALIZAR COMPRA">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Débito-->
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left d-flex align-items-center" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                    <input type="radio" name="tarjetas">
                                                    <p class="my-auto pl-2 titulo-tarjetas">Tarjeta de débito</p>
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                            <div class="card-body row d-flex justify-content-between px-4">
                                                <input type="number" placeholder="Número de tarjeta" class="col-12">
                                                <input type="text" placeholder="Nombre en la tarjeta" class="col-12">
                                                <input type="numeric" placeholder="Vencimiento (MMAA)" minlength="4" maxlength="4" class="col-7 mb-auto">
                                                <input type="numeric" placeholder="CVV" minlength="3" maxlength="3" class="col-4 mb-auto cvv">
                                            </div>
                                            <div class="row px-4">
                                                <a href="/compraTerminada" class="col-12">
                                                    <input class="btn btn-dark rounded-0 col-12 boton-compra my-3" type="submit" value="REALIZAR COMPRA">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
                <!--Columna derecha-->
                <section class="col-5 columna-derecha">
                    <div class="row mt-5 pl-4">
                        <article class="col-12">
                            <!--Primer producto revisión de pedido-->
                            <div class="col-12 row linea-producto d-flex justify-content-between align-items-center mb-3 pb-3">
                                <!--Imagen producto-->
                                <div class="col-3 pl-0">
                                    <img src="img/Campus_ADV_Shoes_Black_B22716_01_standard.jpg" alt="Adidas Campus ADV Black">
                                </div>
                                <!--Modelo, código y color-->
                                <div class="col-5 descripcion-producto">
                                    <p class="font-weight-bold mb-0 modelo-descripcion-producto" id="modeloLg">Adidas Campus ADV</p>
                                    <p class="codigo-descripcion-producto">#AC45B65</p>
                                    <div class="d-flex justify-content-start">
                                        <i class="fas fa-circle circulo-color-carrito circulo-blanco"></i>
                                        <i class="fas fa-circle circulo-color-carrito circulo-negro"></i>
                                        <i class="fas fa-circle circulo-color-carrito circulo-dorado"></i>
                                    </div>
                                </div>
                                <!--Cantidad producto-->
                                <div class="col-1 d-flex justify-content-center align-items-center">
                                    <p class="cantidad-producto my-auto">1</p>
                                </div>
                                <!--Precio producto-->
                                <div class="col-2 precio-producto d-flex justify-content-end pr-0">
                                    <p class="precio-producto my-auto">$4.798.99</p>
                                </div>
                            </div>
                            <!--Segundo producto revisión de pedido-->
                            <div class="col-12 row linea-producto d-flex justify-content-between align-items-center mb-3 pb-3">
                                <!--Imagen producto-->
                                <div class="col-3 pl-0">
                                    <img src="img/Campus_ADV_Shoes_Black_B22716_01_standard.jpg" alt="Adidas Campus ADV Black">
                                </div>
                                <!--Modelo, código y color-->
                                <div class="col-5 descripcion-producto">
                                    <p class="font-weight-bold mb-0 modelo-descripcion-producto" id="modeloLg">Adidas Campus ADV</p>
                                    <p class="codigo-descripcion-producto">#AC45B65</p>
                                    <div class="d-flex justify-content-start">
                                        <i class="fas fa-circle circulo-color-carrito circulo-blanco"></i>
                                        <i class="fas fa-circle circulo-color-carrito circulo-negro"></i>
                                        <i class="fas fa-circle circulo-color-carrito circulo-dorado"></i>
                                    </div>
                                </div>
                                <!--Cantidad producto-->
                                <div class="col-1 d-flex justify-content-center align-items-center">
                                    <p class="cantidad-producto my-auto">1</p>
                                </div>
                                <!--Precio producto-->
                                <div class="col-2 precio-producto d-flex justify-content-end pr-0">
                                    <p class="precio-producto my-auto">$4.798.99</p>
                                </div>
                            </div>
                            <!--Subtotal y envío-->
                            <div class="col-12 row linea-producto d-flex flex-column mb-3">
                                <!--Subtotal-->
                                <div class="row d-flex justify-content-between resumen-valores">
                                    <p class="col-3">Subtotal</p>
                                    <p class="col-4 d-flex justify-content-end">$9.999,99</p>
                                </div>
                                <!--Envío-->
                                <div class="row d-flex justify-content-between resumen-valores">
                                    <p class="col-3">Envío</p>
                                    <p class="col-4 d-flex justify-content-end">$0,00</p>
                                </div>
                            </div>
                            <!--Total-->
                            <div class="col-12 row linea-producto d-flex justify-content-between resumen-valores border-0">
                                <p class="col-3 text-uppercase font-weight-bold px-0">Total</p>
                                <p class="col-4 d-flex justify-content-end font-weight-bold px-0">$9.999,99</p>
                            </div>
                        </article>
                    </div>
                </section>
                <!--Ruta del sitio-->
                <section class="col-12 container ruta-ante-footer bg-white mt-0 pt-5">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center align-items-center ruta-ante-footer-a">
                            <a href="/" class="px-1 text-uppercase text-decoration-none text-body">SNKRST</a>
                            <p class="px-1 mb-0"> | </p>
                            <a href="/carrito" class="px-1 text-uppercase text-decoration-none text-body">Carrito</a>
                            <p class="px-1 mb-0"> | </p>
                            <a href="/formularioCompra" class="px-1 text-uppercase text-decoration-none text-body">informacion de envío</a>
                            <p class="px-1 mb-0"> | </p>
                            <a href="/pago" class="px-1 text-uppercase text-decoration-none text-body">pago</a>
                        </div>
                    </div>
                </section>
                
            </div>
        </div>
    </main>
    
    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>