<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/nosotros.css">
    <link rel="stylesheet" href="/css/navBar.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <header class="container-fluid">
        <%- include('../partials/navBar.ejs') %>
    </header>
    <section>
        
        <div class="banner"><img src="img/banner-adidas.jpg" alt="banner"></div>
        
        <div class="container nosotros-pagina text-left">
            <h1 id="about-us">SNEAKEREST</h1>
        </div>
        
        <div class="container" id="parrafo">
            <h5>Sneakerest es una de las compañías de moda internacionales más grandes y pertenece a Inditex, uno de los grupos de distribución más grandes del mundo.
                
                El cliente está en el corazón de nuestro modelo de negocio único, que incluye diseño, producción, distribución y ventas, a través de nuestra extensa red minorista.</h5>
                <br>
                <h4>Misión</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro cum provident optio at, debitis magni laboriosam sed incidunt quaerat eius animi, assumenda explicabo, nihil quisquam blanditiis voluptate? Itaque esse natus similique incidunt tempore fuga, aut quisquam! Perspiciatis obcaecati dolorum illum. Voluptates officiis itaque alias voluptas, laboriosam tempore quisquam error quibusdam?</p>
                
                <h4>Visión</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro cum provident optio at, debitis magni laboriosam sed incidunt quaerat eius animi, assumenda explicabo, nihil quisquam blanditiis voluptate? Itaque esse natus similique incidunt tempore fuga, aut quisquam! Perspiciatis obcaecati dolorum illum. Voluptates officiis itaque alias voluptas, laboriosam tempore quisquam error quibusdam?</p>
        </div>
            
            
            
        <div class="container text-center" id="terminosycondiciones">
            <a style="color: black; text-decoration: none;" href="#">Términos y Condiciones | </a>
            <a style="color: black; text-decoration: none;"" href="#">Políticas de cambios</a>
        </div>        
    </section>
    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>