<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header class="container-fluid">
        <%- include('../partials/navBar.ejs') %>
    </header>
    <main class="container">
        <section class="row d-flex justify-content-center">
            <article class="col-8 mt-5">
                <img src="/img/2173123.jpg" alt="Tabla de talles">
            </article>
        </section>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>  
</body>
</html>