/**Footer Mobile**/
.fondo-footer {
    background-color: #b4b5b4;
}

.redes-footer a {
    text-decoration: none;
    color: black;
    font-size: .75rem;
}

.logo-footer-mobile {
    width: 7rem;
}

.copyright-footer-mobile {
    font-size: .5rem;
}

@media (min-width: 768px) {
    footer {
        margin-top: 3vh;
    }
    
    .mapa-del-sitio {
        margin-bottom: 2rem;
    }
    
    
    /**Footer**/
    .logo-footer {
        margin-top: 4vh;
    }
    
    .logo-footer-grande {
        width: 50%;
    }
    
    .copyright-footer-grande {
        font-size: .6rem;
    }

    .terminos-condiciones {
        bottom: 2vh;
    }
    
    .terminos-condiciones a {
        font-size: .75rem;
    }
    
    .terminos-condiciones p {
        font-size: .75rem;
        padding: 0 1rem;
        margin-bottom: 0;
    }
}