html {
    min-width: 320px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

/* Navbar  */   

header {
    height: 10rem;
    margin-bottom: 2rem;
}

nav {
    width: 100%;   
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

#item1 {
width: 10%;
font-size: 20px;
text-align: center;

}

#item1 a img {
    width: 100%;
    padding-left: 1rem;
}

#item2 {
    width: 60%;
    height: 3rem; 
    font-size: 1rem;  
    text-align: center;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 1.8rem;
    font-weight: 700;

}

#item3 {
    width: 10%;
    height: 3rem;
    font-size: 20px;
    text-align: center;
}




.box-numero {
    border: 1px solid black;
}

.datos-envio-input {
    background-color: #f2f3f2;
    border: none;
    border-radius: 0;
}

.datos-envio-input::placeholder {
    font-size: 1.5vh;
    color: gray;
}

.linea-producto {
    border-bottom: 1px solid black;
}

.modelo-descripcion-producto {
    font-size: 2.5vw;
}

.codigo-descripcion-producto {
    font-size: 1.7vw;
}

.circulo-color-carrito {
    font-size: 2vw;
    padding-right: 1vw;
}

.circulo-blanco {
    color: lightgray;
}

.circulo-negro {
    color: black;
}

.circulo-dorado {
    color: goldenrod;
}

.cantidad-producto {
    font-size: 2vw;
}

.precio-producto {
    font-size: 2vw;
}

.resumen-valores p {
    font-size: 2.5vw;
}

.boton-proceder-pago {
    border: 1px solid black;
    background-color: white;
    border-radius: 0;
    width: ;
}

.boton-proceder-pago button {
    font-size: 2vw;
}

.boton-envio-pago {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.boton-envio {
    border-radius: 0;
    border: 1px solid black;
    background-color: white;
}

.boton-confirmar-envio {
    border-radius: 0;
    background-color: black;
    color: white;
}

.ruta-ante-footer {
    margin-top: 20vh;
}

.ruta-ante-footer-a {
    font-size: .75rem;
}

.ruta-ante-footer-a {
    text-decoration: none;
    color: black;
    font-size: .75rem;
}

/**Footer Mobile**/
.fondo-footer {
    background-color: #b4b5b4;
}

.redes-footer a {
    text-decoration: none;
    color: black;
    font-size: .75rem;
}

.logo-footer-mobile {
    width: 7rem;
}

.copyright-footer-mobile {
    font-size: .5rem;
}


@media (min-width: 768px) {
    
    input {
        line-height: 1rem;
    }

    .formularios-datos {
        margin-bottom: 5vh;
    }

    .titulo-listas {
        margin-bottom: 3vh;
        padding-bottom: 2vh;
        border-bottom: 1px solid black;
    }

    .box-numero {
        max-width: 2rem;
    }

    .box-numero p {
        font-size: 1rem;
    }

    .modelo-descripcion-producto {
        font-size: 1rem;
    }

    .codigo-descripcion-producto {
        font-size: .75rem;
        margin-bottom: 4rem;
    }
    
    .circulo-color-carrito {
        font-size: 1rem;
    }

    .cantidad-producto {
        font-size: 1rem;
    }

    .precio-producto {
        font-size: 1rem;
    }

    .resumen-valores p {
        font-size: 1rem;
        font-weight: 500;
    }

    .total-valores p {
        font-size: 1rem;
    }

    .boton-proceder-pago {
        margin-top: 1rem;
    }

    .boton-proceder-pago button {
        font-size: 1rem;
    }

    .ruta-ante-footer-a {
        font-size: .75rem;
    }

    footer {
        margin-top: 3vh;
    }

    .mapa-del-sitio {
        margin-bottom: 2rem;
    }


    /**Footer**/
    .logo-footer {
        margin-top: 4vh;
    }

    .copyright-footer-grande {
        font-size: .5rem;
    }

    .terminos-condiciones a {
        font-size: .75rem;
    }

    .terminos-condiciones p {
        font-size: .75rem;
        padding: 0 1rem;
        margin-bottom: 0;
    }
    
}

@media (min-width: 992px) {

    .modelo-descripcion-producto {
        font-size: .75rem;
    }

    .codigo-descripcion-producto {
        font-size: .5rem;
        margin-bottom: 1.8rem;
    }

    .cantidad-producto {
        font-size: .75rem;
    }

    .precio-producto {
        font-size: .75rem;
    }

    .resumen-valores p {
        font-size: .75rem;
    }

    .boton-proceder-pago .btn {
        font-size: .75rem;
    }

    footer {
        width: 100%;
    }

    .mapa-footer div p {
        font-size: .75rem;
    }  

    .mapa-footer div a {
        font-size: .75rem;
    }   

    .mapa-footer a {
        font-size: 3rem;
    }

    .logo-footer {
        margin: 3rem 0;
    }

    .copyright-footer-grande {
        font-size: .2rem;
    }

    .logo-footer-grande {
        width: 15vw;
    }

    .terminos-condiciones a {
        font-size: .75rem;
    }

    .terminos-condiciones p {
        font-size: .75rem;
        padding: 0 1rem;
    }
    
    .ruta-ante-footer-a {
        font-size: .75rem;
    }

}

@media (min-width: 2000px) {

    .container {
        width: 100vw;
    }


    .box-numero {
        max-width: 3rem;
    }

    .box-numero p {
        font-size: 2rem;
    }

    .titulo-numeros {
        font-size: 2rem;
    }

    .boton-proceder-pago {
        margin-top: 1vh;
    }

    .boton-proceder-pago button {
        font-size: 1vw;
    }

    .ruta-ante-footer-a {
        font-size: 1.5vw;
    }
}