html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%; /*** Reset para REM --> 62.5% = 10px de 16px ***/
}


/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: #ffffff;
    height: 10%;
    width: 100%;
}
.navbar i {
    font-size: 15px;
}
#hamburguesa {
    font-size: 25px;
}
.burger {
    outline: none;
    background-color: transparent;
    border: 0px solid;
    font-size: 25px;
}
.carrito {
    outline: none;
    background-color: transparent;
    border: 0px solid;
}
.lupa {
    outline: none;
    background-color: transparent;
    border: 0px solid;
}
button {
    width: 2rem;
    height: 2rem;
    align-content: center;
}


/* MENÚ DESPLEGABLE */
#navbar-div {
    flex-direction: column;
    width: 100%;
    color: white;
    background-color: black;
}
.dropdown {
    position: relative;
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 50px;
}
.dropbtn {
    color: black;
    font-size: 15px;
    border: none;
    padding-right: 75px;
    padding-left: 0px;
    align-content: center;
    padding-bottom: 50px;
    outline: none;
    padding: 15px;
}
.dropdown-content {
    color: white;
}
#menu-women {
    padding: 25px;
}
#menu-men {
    padding: 25px;
}
#menu-kids {
    padding: 25px;
}
.dropdown-contenido-kids {
    display: none;
    position: absolute;
    background-color: ;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}


/* PRIMER SLIDE */
.primera-pagina {
    text-align: center;
    background-color: white;
    padding-bottom: 125px;
    width: 100%;
    height: 100%;
}
#new-in {
    color: black;
    padding-top: 300px;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
}
#new-in-p {
    color: black;
    font-size: 1.3rem;
    text-align: center;
}
.catalogo {
    text-decoration: none;
    padding: 5px;
    font-weight: 600;
    font-size: 15px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;
    text-align: center;
    align-content: center;
}


/* SEGUNDO SLIDE */
.segunda-pagina {
    text-align: center;
    background-color: white;
    padding-bottom: 125px;
    width: 100%;
    height: 100%;
}
#new-in {
    color: black;
    padding-top: 300px;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
}
#new-in-p {
    color: black;
    font-size: 1.3rem;
    text-align: center;
}
.catalogo {
    text-decoration: none;
    padding: 5px;
    font-weight: 600;
    font-size: 15px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;
    text-align: center;
    align-content: center;
}
#bottom-menu {
    text-decoration: none;
    padding: 3px;
    font-weight: 600;
    font-size: 15px;
    color: #000000;
    border: none;
    text-align: center;
    align-content: center;
}


/* TERCER SLIDE */
.tercera-pagina {
    text-align: center;
    background-color: white;
    width: 100%;
    height: 100%;
}
#new-in-suscribe {
    color: black;
    padding-top: 300px;
    padding-bottom: 300px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}


/* MENÚ FONDO INICIO */
.cat-pie {
    display: flex;
    flex-direction: column;
    color: #000000;
    justify-content: space-evenly;
}
#triple-menu {
    padding-top: 200px;
}


/* FOOTER */
.page-footer {;
    width: 100%;
    height: 10%;
}
#page-footer {
    background-color:	#b4b4b4
}
#redes {
    text-decoration: none;
    color: white;
}
.page-footer {
    width: 100%;
}
.logo-footer {
    width: 33%;
}
.footer-copyright {
    font-size: 1vh;
}
