html {
    font-size: 62.5%; /* Reset para rem --> 62.5% = 10px de 16px */
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}


p{
    color: black;
    text-align: center;
    font-size: 1.8rem;
}

form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;    

}
.form-group{
    align-items: center;
    margin-top: 7vh; 
    width: 60%;;
    height: 10vh;
}
.form-group input{
    height: 4vh;
    align-content: center;
}
.estilos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.suscribir{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
}
.suscribir p{
    padding-top: 7vh;
    color: black;
    text-align: center;
    font-size: 1rem;
}
.suscribir button{
    margin-top: 5vh;
    width: 40%;
    height: 4vh;
}
.ruta{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
 }
 .ruta a{
    text-decoration: none;
 }