html {
    min-width: 300px; /* Reset para rem --> 62.5% = 10px de 16px */
}

body {
    font-family: 'Montserrat', sans-serif;
    
}



h1{
    font-size: 1.8rem;
    font-weight: 700;

}


p{
    color: black;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 4vh;
    
}

form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;    

}
.form-datos-envio-input{
    border-radius: black;
    }
    .datos-envio-input {
        background-color: #F2F3F2;
        border: black;
        border-radius: 1px;
        width: 60%;
    }
    .datos-envio-input::placeholder {
        font-size: 1.2rem;
        color:black;
        
    }


 form a p{
    color: black;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
}
.ingresar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
}


boton-recuperar{
    width: 60%;
}

.ruta{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 45vh;
 }
 .ruta a{
    text-decoration: none;
 }