<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> 
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/contacto.css">
    
    <!--Título-->
    <title>SNEAKEREST</title>
    
    <!--Fuente-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="conteiner">
        <!--nav-->
        <nav>
   <div id="item1" class="box">
    <a href="/"><img src="/img/logonegro@.png" alt=""></i></a>
   </div>
   <div id="item2" class="box ">
    <h1>CONTACTO</h1>
   </div>
   <div id="item3" class="box">
    <a href="/carrito"><i class="fas fa-shopping-cart" style="color: black;"></i></a>
</nav>
<!--texto-->
<main>

<H2>ATENCIÓN AL CLIENTE</H2>
<h3>Consultas cobre compras online</h3>
<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-black btn-block text-left" type="button"
          data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">

              <div class="text">
            <i class="fas fa-envelope-square" style="color: black;"></i>
           <h4 style="color: black;">Email</h4> 
        </div>
          </button>
        
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <a href="/contacto/email" class="btn btn-light btn-dark" tabindex="-1" role="button" aria-disabled="true">MANDAR MAIL</a>
        </div>   
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-black btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <div class="text">
                    <i class="fas fa-user-friends" style="color: black;"></i>
               <h4 style="color: black;">Redes Sociales</h4> 
            </div>
              </button>
          
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="facebook">
                  <i class="fab fa-facebook-f"></i>
                  <a style="color: black; text-decoration: none;" href="https://www.facebook.com"><h5>@Snkrst</h5></a>
                </div>
                <div class="instagram">
                  <i class="fab fa-instagram"></i>
                  <a style="color: black; text-decoration: none;" href="https://www.instagram.com"><h5>@Snkrst</h5></a>
                </div>
            </div>
          </div>
        </div>

<!--ruta-->
<div class="ruta">
<a style="color: black;" href="/">SNKRST  |  INICIAR SESIÓN</a>
</div>

</main>
</div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

<!--Footer-->

</html>