<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
       
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/email.css">
    
    <!--Título-->
    <title>SNEAKEREST</title>
    
    <!--Fuente-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="conteiner">
        <!--nav-->
        <nav>
   <div id="item1" class="box">
    <a href="/contacto"><i class="fas fa-arrow-left" style="color: black;"></i></a>
   </div>
   <div id="item2" class="box ">
    <h1>CONTACTO/ENVIAR MAIL</h1>
   </div>
   <div id="item3" class="box">
    <a href="/carrito"><i class="fas fa-shopping-cart" style="color: black;"></i></a>
</nav>
<!--texto-->
<main>

  
<h2>PONETE EN CONTÁCTO</h2>


<!--Formulario-->
<!--Email-->
<form>
    
     <input type="text" name="Nombre" placeholder="Nombre" class="col-12 mb-2 datos-envio-input">
     <input type="text" name="Apellido" placeholder="Apellido" class="col-12 mb-2 datos-envio-input">
     <input type="Email" name="Email" placeholder="Email" class="col-12 mb-2 datos-envio-input">
     <input type="text" name="Consulta" placeholder="Consulta" class="col-12 mb-2 datos-envio-input">

      <!--terminos y condiciones-->
<div class="terminos">
<div class="form-check">
    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."> Quiero novedades de snkrst.com
      </div>    
        </div>
          <div class="enviar">
            <button type="button" class="btn btn-dark">ENVIAR CONSULTA</button>
            
            </div>
        </form>
<!--ruta-->
<div class="ruta">
<a style="color: black;" href="/login">SNKRST  |  CREAR CUENTA</a>
</div>

</main>
</div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

<!--Footer-->

</html>