<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/master2.css">
</head>
<body>
    <header>
        <%- include('../partials/navbar.ejs') %>  
    </header>
    <main class="container-fluid">
        <div class="row">
            <!--Carousel1-->
            <div id="carouselExampleControls" class="col-12 carousel slide carousel-fade px-0" data-interval="false">
                <div class="carousel-inner">
                    <!--Página 1-->
                    <div class="carousel-item active padre-img" id="pag-hombre">
                        <!--Primera imagen-->
                        <div class="padre-contenido1" id="primera-imagen1">
                            <video class="m-0 p-0 contenido" autoplay loop muted src="videos/originals-fw20-zx-drop2-sustain-hp-tc-3-dt_nqm9p0.mp4"></video> 
                        </div>
                        <!--Texto NEW IN-->
                        <div class="texto-contenido1 text-center">
                            <h2 class="new-in-sale">NEW IN</h2>
                            <div class="new-in-sale-p mx-auto">
                                <p>Descubrí las ofertas de esta semana, seleccionadas exclusivamente para vos</p>
                            </div>
                            <a class="catalogo" href="/productos/novedades"><p>VER LO NUEVO</p></a>
                        </div>
                        <!--Flecha scroll down-->
                        <a class="d-sm-none d-md-block flecha-scroll text-decoration-none mx-auto text-center" href="#segunda-imagen1"><i class="fas fa-angle-double-down flecha-scroll-icon"></i></a>
                        <!--Segunda imagen-->
                        <div class="padre-contenido" id="segunda-imagen1">
                            <img class="mySlides contenido" id="segundaImagen"src="img/One_Star_3_Layout_brockhampton_turquoise.png" style="width:100%">
                        </div>
                        <!--TEXTO SALE-->
                        <div class="texto-contenido2 text-center">
                            <h2 class="new-in-sale">SALE</h2>
                            <div class="new-in-sale-p mx-auto">
                                <p style="line-height: 100%;">Descubrí las ofertas de esta semana, seleccionadas exclusivamente para vos</p>
                            </div>
                            <a class="catalogo" href="/productos/sale"><p>VER OFERTAS</p></a>
                        </div>
                        <!--Flecha scroll dow2n-->
                        <a class="d-sm-none d-md-inline flecha-scroll2 text-decoration-none mx-auto text-center" href="#newsletter1"><i class="fas fa-angle-double-down flecha-scroll-icon"></i></a>
                        <!--Suscribite al newsletter-->
                        <div class="padre-newsletter d-flex justify-content-center align-items center" id="newsletter1">
                            <button class="col-6 padre-suscribite m-auto text-center bg-white btn" id="suscribite-newsletter">
                                <h3 class="suscribite text-uppercase my-1 pb-1" >suscribite al newsletter</h3>    
                            </button>
                        </div>
                        <!--Flecha scroll up-->
                        <a class="d-sm-none d-md-inline flecha-scroll-up text-decoration-none mx-auto text-center" href="#primera-imagen1">
                            <i class="fas fa-angle-double-up flecha-scroll-icon2"></i>
                            <p class="texto-scroll-up">Volver a arriba</p>
                        </a>
                        <p class="genero-flechas genero-prev">NIÑOS</p>
                        <p class="genero-flechas genero-next">MUJER</p>
                    </div>
                    <!-----------------------------Página 2----------------------------------->
                    <div class="carousel-item padre-img" id="pag-mujer">
                        <!--Primera imagen-->
                        <div class="padre-contenido1" id="primera-imagen2">
                            <img class="mySlides contenido" src="img/bannergazelleverde.jpg" style="width:100%">
                        </div>
                        <!--Texto NEW IN-->
                        <div class="texto-contenido1 text-center">
                            <h2 class="new-in-sale">NEW IN</h2>
                            <div class="new-in-sale-p mx-auto">
                                <p>Descubrí las ofertas de esta semana, seleccionadas exclusivamente para vos</p>
                            </div>
                            <a class="catalogo" href="/productos/novedades"><p>VER LO NUEVO</p></a>
                        </div>
                        <!--Flecha scroll down-->
                        <a class="d-sm-none d-md-inline flecha-scroll text-decoration-none mx-auto text-center" href="#segunda-imagen2"><i class="fas fa-angle-double-down flecha-scroll-icon"></i></a>
                        <!--Segunda imagen-->
                        <div class="padre-contenido" id="segunda-imagen2">
                            <img class="mySlides2 contenido" src="img/e4806e41729683.57b237e28896b.jpg" style="width:100%">
                        </div>
                        <!--TEXTO SALE-->
                        <div class="texto-contenido2 text-center">
                            <h2 class="new-in-sale">SALE</h2>
                            <div class="new-in-sale-p mx-auto">
                                <p style="line-height: 100%;">Descubrí las ofertas de esta semana, seleccionadas exclusivamente para vos</p>
                            </div>
                            <a class="catalogo" href="/productos/sale"><p>VER OFERTAS</p></a>
                        </div>
                        <!--Flecha scroll down2-->
                        <a class="d-sm-none d-md-inline flecha-scroll2 text-decoration-none mx-auto text-center" href="#newsletter2"><i class="fas fa-angle-double-down flecha-scroll-icon"></i></a>
                        <!--Suscribite al newsletter-->
                        <div class="padre-newsletter d-flex justify-content-center align-items center" id="newsletter2">
                            <button class="col-6 padre-suscribite m-auto text-center bg-white btn">
                                <h3 class="suscribite text-uppercase my-1 pb-1">suscribite al newsletter</h3>    
                            </button>
                        </div>
                        <!--Flecha scroll up-->
                        <a class="d-sm-none d-md-inline flecha-scroll-up text-decoration-none mx-auto text-center" href="#primera-imagen2">
                            <i class="fas fa-angle-double-up flecha-scroll-icon2"></i>
                            <p class="texto-scroll-up">Volver a arriba</p>
                        </a>
                        <!--Genero de flechas next-prev-->
                        <p class="genero-flechas genero-prev" id="genero-hombre-prev">HOMBRE</p>
                        <p class="genero-flechas genero-next">NIÑOS</p>
                        
                    </div>
                    <!------------------------------- Página 3 --------------------------------------------->
                    <div class="carousel-item padre-img" id="pag-niño">
                        <!--Primera imagen-->
                        <div class="padre-contenido1" id="primera-imagen3">
                            <img class="mySlides contenido" src="img/Nike-throwback-future-pack-air-max-720-1.jpg" style="width:100%">
                        </div>
                        <!--Texto NEW IN-->
                        <div class="texto-contenido1 text-center">
                            <h2 class="new-in-sale">NEW IN</h2>
                            <div class="new-in-sale-p mx-auto">
                                <p>Descubrí las ofertas de esta semana, seleccionadas exclusivamente para vos</p>
                            </div>
                            <a class="catalogo" href="/productos/novedades"><p>VER LO NUEVO</p></a>
                        </div>
                        <!-- Flecha scroll down-->
                        <a class="d-sm-none d-md-inline flecha-scroll text-decoration-none mx-auto text-center" href="#segunda-imagen3"><i class="fas fa-angle-double-down flecha-scroll-icon"></i></a>
                        <!--Segunda imagen-->
                        <div class="padre-contenido" id="segunda-imagen3">
                            <img class="mySlides2 contenido" src="img/01052018_Blog_1140x762px_04.jpg" style="width:100%">
                        </div>
                        <!--TEXTO SALE-->
                        <div class="texto-contenido2 text-center">
                            <h2 class="new-in-sale">SALE</h2>
                            <div class="new-in-sale-p mx-auto">
                                <p style="line-height: 100%;">Descubrí las ofertas de esta semana, seleccionadas exclusivamente para vos</p>
                            </div>
                            <a class="catalogo" href="/productos/sale"><p>VER OFERTAS</p></a>
                        </div>
                        <!--Flecha scroll down2-->
                        <a class="d-sm-none d-md-inline flecha-scroll2 text-decoration-none mx-auto text-center" href="#newsletter3"><i class="fas fa-angle-double-down flecha-scroll-icon"></i></a>
                        <!--Newsletter-->
                        <div class="padre-newsletter d-flex justify-content-center align-items center" id="newsletter3">
                            <button class="col-6 padre-suscribite m-auto text-center bg-white btn" type="button" data-toggle="modal" data-target="#exampleModal">
                                <h3 class="suscribite text-uppercase my-1 pb-1">suscribite al newsletter</h3>    
                            </button>
                        </div>
                        <!--Flecha scroll up-->
                        <a class="d-sm-none d-md-inline flecha-scroll-up text-decoration-none mx-auto text-center" href="#primera-imagen3">
                            <i class="fas fa-angle-double-up flecha-scroll-icon2"></i>
                            <p class="texto-scroll-up">Volver a arriba</p>
                        </a>
                        <p class="genero-flechas genero-prev">MUJER</p>
                        <p class="genero-flechas genero-next" id="genero-hombre-next">HOMBRE</p>
                    </div>
                    
                </div>
                <a class="carousel-control-prev d-flex justify-content-start" href="#carouselExampleControls" role="button" data-slide="prev" id="flecha-prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next d-flex justify-content-end" href="#carouselExampleControls" role="button" data-slide="next" id="flecha-next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!-- MODAL SUSCRIBIRSE -->
        <%- include('../partials/modalSuscribe.ejs') %>
    </main>
    
    
    
    
    
    
    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
    <script src="/js/index.js"></script>
</body>
</html>