<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>SNEAKEREST</title>

    <!--Fontawesonme icons & Google Fonts-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/master.css">
</head>

<header>
<!--Navbar-->

<nav class="navbar navbar-light light-blue dark-4">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#"><img src="/img/logonegro@.png" alt="logo negro"></a>
  
    <!-- Collapse button -->
    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
      aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
          class="fas fa-bars fa-1x"></i></span></button>
  
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/contacto">Contacto<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/productos">Productos</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/carrito"><i class="fas fa-shopping-cart" style="color: black;"></i></a>
        </li>
      </ul>
      <!-- Links -->
  
    </div>
    <!-- Collapsible content -->
  
  </nav>
  <!--/.Navbar-->
</nav>
</header>

<body>
    <section>
        <div class="primera-pagina text-center">
            <h1 id="new-in">NEW IN</h1>
            <p style="line-height: 100%;" id="new-in-p">Explorá los modelos lanzados esta última</p>
            <p style="line-height: 100%;" id="new-in-p">semana, seleccionados exclusivamente</p>
            <p style="line-height: 100%;" id="new-in-p">para vos.</p><br>
            <a style="text-align: center; color: black; text-decoration: none;" class="catalogo" href="/productos">CATÁLOGO</a>
        </div>

        
    </section>

    <section>
        <div class="segunda-pagina text-center">
            <h1 id="new-in">SALE</h1>
            <p style="line-height: 100%;" id="new-in-p">Descubrí las ofertas de esta semana,</p>
            <p style="line-height: 100%;" id="new-in-p">seleccionadas exclusivamente para vos.</p>
            <br>
            <a style="text-align: center; color: black; text-decoration: none;" class="catalogo" href="/productos">CATÁLOGO</a>
        </div>

       
    </section>

    <section>
        <div class="container tercera-pagina text-center">
            <h3 id="new-in-suscribe"><a style="text-align: center; color: black; text-decoration: none;" class="catalogo" href="/newsletter">SUSCRIBITE AL NEWSLETTER</a></h3>
            <a style="color: black; text-decoration: none;" href="#">Términos y Condiciones | </a>
            <a style="color: black; text-decoration: none;"" href="#">Políticas de cambios</a>
        </div>

    </section>
</body>


<!-- FOOTER -->
<footer class="page-footer font-small mt-5 pt-4 text-uppercase"  id="page-footer">
    <!--LINKS REDES-->
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col">
                <h5><a id="redes" href="https://www.instagram.com">Instagram</a></h5>
            </div>
            <div class="col">
                <h5><a id="redes" href="https://www.behance.com">Behance</a></h5>
            </div>
            <div class="col">
                <h5><a id="redes" href="https://www.facebook.com">Facebook</a></h5>
            </div>
        </div>
    </div>  
    <!--LOGO-->
    <div class="logo-footer mx-auto mb-0 pt-4">
        <a href="/"><img src="/img/Mesa de trabajo 3@.png" class="img-fluid" alt="Logo Sneakerest"></a>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center mb-0 pb-3">© 2020 Copyright:
        <a href="/">©sneakerest s.r.l.</a>
    </div>
</footer>



<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>