<!DOCTYPE html>
<html lang="en">
    
      <head>
          <%- include('../partials/head.ejs') %>
         <link rel="stylesheet" href="/css/navbar.css">  
      </head>

<body>
<!-- Modal -->
    <header>
        <%- include('../partials/navBar.ejs') %>
    </header>
    <section>
        <div id="modalSuscribirse" class=" modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"id="myModal">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div>     
                  <button type="button" class="close mt-2 mr-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="d-flex justify-content-center"><ion-icon class="icono" name="mail-open-outline"></ion-icon></div>
                  <h2 class="modal-title text-center mt-3">¡SUSCRIBETE AL NEWSLETTER!</h2>
                  <p class="text-center mt-3"><strong>¡Suscribete a nuestro newsletter para recibir  nuestras noticias <br>semanales e información sobre nuevas tendencias!</strong></p>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                  <form class="form-inline mt-3 mb-3">
                      <div class="form-group  mr-2">              
                        <input type="email" class="form-control" placeholder="Email">
                      </div>
                      <button type="button" class="btn btn-dark">ENVIAR</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
    </section>
      
    <section>
      <div class="primera-pagina text-center">
          <h1 id="new-in">SALE</h1>
          <p style="line-height: 100%;" id="new-in-p">Descubrí las ofertas de esta semana,</p>
          <p style="line-height: 100%;" id="new-in-p">seleccionadas exclusivamente para vos.</p>
          <br>
          <a style="text-align: center; color: black; text-decoration: none;" class="catalogo" href="/productos">CATÁLOGO</a>
      </div>
    <section>
        <div class="segunda-pagina text-center">
            <h1 id="new-in">SALE</h1>
            <p style="line-height: 100%;" id="new-in-p">Descubrí las ofertas de esta semana,</p>
            <p style="line-height: 100%;" id="new-in-p">seleccionadas exclusivamente para vos.</p>
            <br>
            <a style="text-align: center; color: black; text-decoration: none;" class="catalogo" href="/productos">CATÁLOGO</a>
        </div>
        
        
    </section>
    
    <section> <div class="container tercera-pagina text-center">
       
            <h3 id="new-in-suscribe"><a style="text-align: center; color: black; text-decoration: none;" class="catalogo" href="/newsletter">SUSCRIBITE AL NEWSLETTER</a></h3>
            <a style="color: black; text-decoration: none;" href="#">Términos y Condiciones | </a>
            <a style="color: black; text-decoration: none;"" href="#">Políticas de cambios</a>
        </div>
        
    </section>



<!-- FOOTER -->
<%- include('../partials/footer.ejs') %>
<script src="/js/index.js"></script>
</body>
</html>