<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head.ejs') %>
</head>

<body>
  <header class="container-fluid">
    <%- include('../partials/navBar.ejs') %>
  </header>
  <div class="conteiner">
    <div id="item1" class="box">
      <a href="/"><i class="fas fa-arrow-left" style="color: black;"></i></a>
    </div>
    <div id="item2" class="box ">
      <h1>SUSCRIBETE AL NEWSLETTER</h1>
    </div>
    <div id="item3" class="box">
      <a href="/carrito"><i class="fas fa-shopping-cart" style="color: black;"></i></a>
    </div>
    <!--texto-->
    <main>
      <p>Suscribete a nuestro newsletter para recibir  nuestras noticias <br>semanales e información sobre nuevas tendencias</p>
      
      <!--Email-->
      <form>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
        </div>
        
        
        <!--Estilos-->
        <div class="estilos">
          <h3> Estilos preferidos:</h3><br>
          <div class="form-check">
            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."> Mujer 
          </div>
          <div class="form-check">
            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."> Varón
          </div>
          <div class="form-check">
            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..."> Niños
          </div>
        </div>
        <!--suscribir-->
        <div class="suscribir">
          <p id="info">*al enviar esta información , ustes acepta nuestra política de privacidad.</p>
          
          <button type="button" class="btn btn-dark">SUSCRIBIR</button>
        </div>
      </form>
      
      
      <!--ruta-->
      <div class="ruta">
        <a style="color: black;" href="/index">SNEAKEREST  |  NEWSLETTER</a>
      </div>
      
    </main>
  </div>
  <!--Footer-->
  <%- include('../partials/footer.ejs') %>
</body>

<!--Footer-->

</html>