<footer class="mt-0">
    <!--Footer mobile-->
    <div class="d-sm-block d-md-none">
        <div class="container-fluid fondo-footer pt-3">
            <div class="row">
                <!--Redes Footer-->
                <div class="col-10 d-flex justify-content-between align-items-center redes-footer mt-3 mx-auto">
                    <a href="https://www.instagram.com">Instagram</a>
                    <a href="https://www.behance.com">Behance</a>
                    <a href="https://www.facebook.com">Facebook</a>
                </div>
                <!--Logo footer-->
                <div class="col-12 mt-4 mb-0 pb-0">
                    <div class="col-12 text-center">
                        <a href="#"><img src="/img/Mesa de trabajo 3@.png" alt="Logo Sneakerest" class="logo-footer-mobile mx-auto"></a>
                    </div>
                    <div class="col-12 text-center">
                        <p class="copyright-footer-mobile mx-auto">© 2020 Copyright: SNEAKEREST S.R.L.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer tablet para arriba-->
    <div class="d-none d-md-block">
        <div class="container-fluid fondo-footer redes-footer">
            <div class="row pt-5">
                <!--Mapa del sitio-->
                <div class="col-7 d-flex justify-content-around mapa-footer mapa-del-sitio">
                    <!--Categorias-->
                    <div class="col-2 d-flex flex-column">
                        <p class="font-weight-bold">Categorias</p>
                        <a href="/productos">Men</a>
                        <a href="/productos">Women</a>
                        <a href="/productos">Kids</a>
                        <a href="/productos">New In</a>
                        <a href="/productos">Sale</a>
                    </div>
                    <!--Marcas-->
                    <div class="col-2 d-flex flex-column">
                        <p class="font-weight-bold">Marcas
                        </p>
                        <a href="/productos">Adidas</a>
                        <a href="/productos">Converse</a>
                        <a href="/productos">DC Shoes</a>
                        <a href="/productos">New Balance</a>
                        <a href="/productos">Nike</a>
                        <a href="/productos">Rebook</a>
                        <a href="/productos">Vans</a>
                    </div>
                    <!--Soporte-->
                    <div class="col-2 d-flex flex-column">
                        <p 
                        class="font-weight-bold">Soporte</p>
                        <a href="/ayuda">Ayuda</a>
                        <a href="/ayuda">Cambios</a>
                        <a href="/ayuda">Devoluciones</a>
                        <a href="/ayuda">Envíos</a>
                        <a href="/ayuda">Seguimiento</a>
                        <a href="/talles">Tabla de talles</a>
                    </div>
                    <!--Sobre Nosotros-->
                    <div class="col-2 d-flex flex-column">
                        <p class="font-weight-bold">Sobre SNKRST</p>
                        <a href="/nosotros">Nosotros</a>
                        <a href="/nosotros">Proposito</a>
                        <a href="/noticias">Noticias</a>
                    </div>
                </div>
                <!--Redes, logo y TC-->
                <div class="col-5 mapa-footer">
                    <!--Redes Footer-->
                    <div class="col-12 d-flex justify-content-around">
                        <a href="https://www.instagram.com">Instagram</a>
                        <a href="https://www.behance.com">Behance</a>
                        <a href="https://www.facebook.com">Facebook</a>
                    </div>
                    <!--Logo Footer-->
                    <div class="col-12 logo-footer">
                        <div class="col-12 text-center">
                            <a href="/"><img src="/img/Mesa de trabajo 3@.png" alt="Logo Sneakerest" class="logo-footer-grande mx-auto"></a>
                        </div>
                        <div class="col-12 text-center">
                            <p class="copyright-footer-grande mx-auto" >© 2020 Copyright: SNEAKEREST S.R.L.</p>
                        </div>
                    </div>
                </div>
                <!--Terminos y condiciones-->
                <div class="col-12 terminos-condiciones d-flex justify-content-center align-items-center">
                    <a href="#">Términos y condiciones</a>
                    <p> | </p>
                    <a href="#">Políticas de cambio</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script  src = "https://unpkg.com/ionicons@5.1.2/dist/ionicons.js" ></script>
