<div class="navbar">

    <div id="item1" class="box">
        <span style="font-size:30px;cursor:pointer;padding-top: 20px;" onclick="openNav()">&#9776; </span>
        <a href="/"><img src="/img/logonegro@.png" alt=""></i></a>
    </div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/productos">WOMEN</a>
        <a href="/productos">MEN</a>
        <a href="/productos">KIDS</a>
        <a href="/productos">NEW IN</a>
        <a href="/productos">SALE</a>
        <br>
        <br>
        <a href="#">+INFO</a>
            <a id="menuinfo" href="/newsletter">NEWSLETTER</a>
            <a id="menuinfo" href="/contacto">CONTACTO</a>
            <a id="menuinfo" href="/nosotros">NOSOTROS</a>
            <a id="menuinfo" href="/giftcard">GIFT CARD</a>
            <a id="menuinfo" href="/ayuda">AYUDA</a>
        <br>
        <br>
        <a href="/login">LOG IN</a>
        <a href="/admin">ADMIN</a>     
    </div>

    <div class="search-container">
        <form action="/action_page.php">
        <input type="text" placeholder="Search" name="search">
        <button type="submit" style="border: none; background-color: white; font-size: 1rem;"><i class="fa fa-search"></i></button>
        </form>
    </div>
    
    <div id="carritonav">
    <a href="/carrito"><i class="fas fa-shopping-cart" style="font-size: 1.5rem; color: black;"></i></a>
    </div>


<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>