<nav class="navbar row">
    <div class=" col-12 d-flex justify-content-between align-items-center">
        <div id="item1" class="col-3">
           <span style="font-size:30px;cursor:pointer;padding-top: 20px; padding-right: 1rem;" onclick="openNav()">&#9776; </span>
           <a href="/"><img src="/img/logonegro@.png" alt=""></i></a>
        

           <div id="mySidenav" class="sidenav">
           <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
           <a href="/productos">WOMEN</a>
           <a href="/productos">MEN</a>
           <a href="/productos">NEW IN</a>
           <a href="/productos">SALE</a>
           <br>
           <br>
           <a href="#">+INFO</a>
            <a id="menuinfo" href="/newsletter">NEWSLETTER</a>
            <a id="menuinfo" href="/contacto">CONTACTO</a>
            <a id="menuinfo" href="/nosotros">NOSOTROS</a>
            <a id="menuinfo" href="/giftcard">GIFT CARD</a>
            <a id="menuinfo" href="/ayuda">AYUDA</a>
           <br>
           <br>
           <% if(locals.usuario) { %>
            <a href="/admin">ADMIN</a>
            <% } else { %>
           <a href="/login">LOG IN</a>
           <% } %>
           </div>
           </div>     
        <div id="search" class="d-flex justify-content-between align-items-center col-4 ">
            <form action="/action_page.php" class="d-none d-md-block">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="border-bottom border-dark">
                        <input type="text" placeholder="BUSCAR" name="search" class="border-0 rounded-0 buscar-input">
                    </div>
                    <button type="submit" class="border-0 bg-white"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
        <% if(locals.usuario) { %>
        <div class="d-flex justify-content-between align-items-center col-2 mr-3">
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle f" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ¡Hola <%= locals.usuario.nombre %> !
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item"href="/perfil">Mi perfil</a>  
                    <a class="dropdown-item"href="/logout">Cerrar sesión</a>        
                </div>             
            </div>
        
               <div class="d-flex pl-6">
               <a href="/carrito"><i class="fas fa-shopping-cart ml-4" style="font-size: 1.5rem; color: black;"></i></a>
               </div>
        </div>    
        <% } else { %>  
        <div class="d-flex justify-content-between align-items-center mr-2">    
           <div>     
            <a class="text-uppercase text-body text-decoration-none p-3" href="/login">Iniciar sesión</a>
           </div>
           <div>
            <a class="text-uppercase text-body text-decoration-none p-3" href="/contacto">Contacto  </a>
           </div>
           <div class="d-flex pl-6 ml-3">
            <a href="/carrito"><i class="fas fa-shopping-cart" style="font-size: 1.5rem; color: black;"></i></a>
           </div>
           <% } %> 
        
        </div>
    </div>


<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
</nav>