<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adminstrar</title>
    <!--Fontawesonme icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Mi CSS-->
    <link rel="stylesheet" href="/public/css/administrar.css">
    <!--Fuente-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    
</head>
<body>

    <!-- REVISAR QUE LAS RUTAS COINCIDAN CON ROUTES -->

    <header class="container-fluid">
        <!--  include('../../partials/navBar.ejs') %>--> 
    </header>

    <main class="container-fluid">

        <!--Listado de productos para administrar-->
        <section class="row">
            <article class="col-12">
            <h2 class="titulo-admin text-center pt-5 mx-auto">Administrar productos</h2>
            </article>
            <article class="col-12 my-3">
                <a href="/administrar/create"><button type="button" class="btn btn-outline-dark rounded-0">+ Agregar producto</button>
                </a>
            </article>
            <article class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Ver</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Borrar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% zapatillas.forEach(zapatilla => { %> 
                            <tr>
                                <td><%= zapatilla.id %> </td>
                                <td><%= zapatilla.marca %> </td>
                                <td><%= zapatilla.modelo %> </td>
                                <td><a href="/admin/detalle/<%= zapatilla.id %> ">Ver detalle</a></td>
                                <td><a href="/admin/crear/<%= zapatilla.id %> ">Editar producto</a></td>
                                <td><a href="/admin/eliminar/<%= zapatilla.id %> ">Eliminar producto</a></td>
                            </tr>
                        <% }) %> 
                    </tbody>
                </table>
            </article>
        </section>
    </main>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>