<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <header class="container-fluid">
        <%- include('../partials/navBar.ejs') %>
    </header>
    <main class="container-fluid mt-3">
        <div class="row">
            <h2 class="col-8 mx-auto mb-5 py-4 pb-3 text-center border-bottom">INGRESA A TU CUENTA</h2>
        </div>
        <!--Formulario-->
        <form>
            <input type="Email" name="Email" placeholder="Email" class="col-12 mb-2 datos-envio-input">
            <input type="password" name="password" placeholder="Contraseña" class="col-12 mb-2 datos-envio-input">
            <a href="/recover" class="text-decoration-none text-body"><p>OLVIDE MI CONTRASEÑA</p></a>
        </div>
        
        
        <div class="ingresar mt-0">
            <button type="button" class="btn btn-dark mb-4">INCIAR SESION</button>
            <button type="button" class="btn btn-dark mb-2">INICIO DE SESIÓN CON FB</button>
            <button type="button" class="btn btn-dark">INICIO DE SESIÓN CON GOOGLE</button>
            <a href="login/registro" class="btn btn-light btn-lg mt-5" tabindex="-1" role="button" aria-disabled="true">CREAR CUENTA</a>
        </div>
    </form>
    
    <!--ruta-->
    <div class="ruta">
        <a style="color: black;" href="/">SNKRST  |  INICIAR SESIÓN</a>
    </div>
    
</main>
</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

<!--Footer-->

</html>