<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> 
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/login.css">
    
    <!--Título-->
    <title>SNEAKEREST</title>
    
    <!--Fuente-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="conteiner">
        <!--nav-->
        <nav>
   <div id="item1" class="box">
    <a href="/"><img src="img/logonegro@.png" alt=""></i></a>
   </div>
   <div id="item2" class="box ">
    <h1>INICIAR SESIÓN/REGISTRARTE</h1>
   </div>
   <div id="item3" class="box">
    <a href="/carrito"><i class="fas fa-shopping-cart" style="color: black;"></i></a>
</nav>
<!--texto-->
<main>

  
<h2>INGRESA A TU CUENTA</h2>


<!--Formulario-->
<!--Email-->
<form>
      <input type="Email" name="Email" placeholder="Email" class="col-12 mb-2 datos-envio-input">
     <input type="password" name="password" placeholder="Contraseña" class="col-12 mb-2 datos-envio-input">
    <a href="/recover" style="text-decoration: black;"><p ">OLVIDE MI CONTRASEÑA.</p></a>
  </div>


<div class="ingresar">
<button type="button" class="btn btn-dark">INGRESAR</button>
<button type="button" class="btn btn-dark">INICIO DE SESIÓN CON FB</button>
<button type="button" class="btn btn-dark">INICIO DE SESIÓN CON GOOGLE</button>
<a href="/registro" class="btn btn-light btn-lg" tabindex="-1" role="button" aria-disabled="true">CREAR CUENTA</a>
</div>
</form>


<!--ruta-->
<div class="ruta">
<a style="color: black;" href="/">SNKRST  |  INICIAR SESIÓN</a>
</div>

</main>
</div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

<!--Footer-->

</html>