<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/recover.css">
</head>

<body>
    <%- include('../partials/navBar.ejs') %>
    <div class="conteiner">
        
        <div id="item1" class="box">
            <a href="/login"><i class="fas fa-arrow-left" style="color: black;"></i></a>
        </div>
        <div id="item2" class="box ">
            <h1>¿HAS OLVIDADO TU CONTRASEÑA?</h1>
        </div>
        <div id="item3" class="box">
            <a href="/carrito"><i class="fas fa-shopping-cart" style="color: black;"></i></a>
        </div>
        <!--texto-->
        <main class="my-5 py-5">
            
            
            <p>Si has olvidado tu contraseña proporciona tu dirección <br> de correo electrónico y te enviaremos un email con instrucciones de como recuperarla.</p>
            
            
            
            <!--Formulario-->
            <!--Email-->
            <form class="pb-5">
                <input type="Email" name="Email" placeholder="Email" class="col-12 mb-2 datos-envio-input">
                <button type="button" class="btn btn-dark mb-5 mt-2">RECUPERAR CONTRASEÑA</button>
            </form>
        </main>
        
        <div class="col-12 d-flex justify-content-center align-items-center ruta-ante-footer mt-5 pt-5">
            <a href="/" class="px-2 text-decoration-none text-body">SNKRST</a>
            <p class="my-auto">|</p>
            <a href="/login" class="px-2 text-decoration-none text-body">LOG IN</a>
            <p class="my-auto">|</p>
            <a href="#" class="px-2 text-decoration-none text-body">RECUPERAR CONTRASEÑA</a>
        </div>
    </div>
    <!--Footer-->
    <%- include('../partials/footer.ejs') %>
</body>
</html>