<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
    
    <link rel="stylesheet" href="/css/recover.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <header>
        <%- include('../partials/navBar.ejs') %>
    </header>
    
    <div class="container-fluid">
        <section class="row my-5">
            <article class="col-8 mx-auto">
                <h2 class="titulo-crear pb-3 border-bottom text-center pt-5 mx-auto text-uppercase">Recuperar Contraseña</h2>
            </article>
        </section>
    </div>

    <div class="conteiner">
        
        <!--texto-->
        <main class="mt-3 mb-5 py-3">            
            <p>Si has olvidado tu contraseña proporciona tu dirección <br> de correo electrónico y te enviaremos un email con instrucciones de como recuperarla.</p>
            <!--Formulario-->
            <!--Email-->
            <form class="pb-5 pt-3">
                <input type="Email" name="Email" placeholder="Email" class="col-12 mb-2 datos-envio-input form-control form-control-lg">
                <button type="button" class="btn btn-dark mb-5 mt-2 boton-recuperar">RECUPERAR CONTRASEÑA</button>
            </form>
        </main>
        
        <div class="col-12 d-flex justify-content-center align-items-center ruta-ante-footer mt-5 pt-5">
            <a href="/" class="px-2 text-decoration-none text-body">SNKRST</a>
            <p class="my-auto">|</p>
            <a href="/login" class="px-2 text-decoration-none text-body">LOG IN</a>
            <p class="my-auto">|</p>
            <a href="#" class="px-2 text-decoration-none text-body">RECUPERAR CONTRASEÑA</a>
        </div>
    </div>
    <!--Footer-->
    <%- include('../partials/footer.ejs') %>
</body>
</html>