<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi carrito - SNKRST</title>
    <!--Fontawesonme icons & Google Fonts-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Mi CSS-->
    <link rel="stylesheet" href="/public/css/carrito.css">
</head>
<body>
    <header class="contenido-nav">
        <nav class="navbar-detalles">
            <i class="fas fa-arrow-left iconos-top"></i>
            <i class="fas fa-shopping-cart iconos-top"></i>
        </nav>
    </header>

    <main class="container">
        <div class="content-mobile-tablet col-12 row mx-auto">
            <div class="col-12 col-md-12 row mx-auto">
                <section class="encabezado-carrito col-12 d-flex justify-content-between align-items-end px-0 pb-2">
                    <h4 class="col-3 pl-0 mb-1 text-uppercase">carrito</h4>
                    <p class="col-7 pr-0 mb-1 d-flex justify-content-end">3 elementos en su carrito</p>
                </section>
            </div>
            <div class="col-12 col-md-12 row mx-auto">
                <section class="lista-productos col-12 px-0">
                    <article class="producto-carrito col-12 row mx-auto d-flex justify-content-between">
                        <div class="foto-producto-carrito col-4 px-0">
                            <img src="/public/img/Campus_ADV_Shoes_Black_B22716_01_standard.jpg" alt="Adidas Campus ADV Black">
                        </div>
                        <div class="descripcion-producto-carrito col-8 row px-0">
                            <div class="arriba-descripcion-producto-carrito col-12 d-flex justify-content-between align-items-center ml-0 pl-0">
                                <div class="modelo-carrito text-uppercase">
                                    <p class="my-0">adidas Campus ADV Black</p>
                                </div>
                                <div class="x-eliminar-producto-carrito">
                                    <a href="#"><i class="fas fa-times"></i></a>
                                </div>
                            </div>
                            <div class="abajo-descripcion-producto-carrito col-12 d-flex justify-content-between align-items-center  ml-0 pl-0">
                                <div class="talle-carrito">
                                    <p class="my-0">42 (US-10)</p>
                                </div>
                                <div class="precio-carrito">
                                    <p class="my-0">$4.579,99</p>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="producto-carrito col-12 row mx-auto d-flex justify-content-between">
                        <div class="foto-producto-carrito col-4 px-0">
                            <img src="/public/img/Campus_ADV_Shoes_Black_B22716_01_standard.jpg" alt="Adidas Campus ADV Black">
                        </div>
                        <div class="descripcion-producto-carrito col-8 row px-0">
                            <div class="arriba-descripcion-producto-carrito col-12 d-flex justify-content-between align-items-center ml-0 pl-0">
                                <div class="modelo-carrito text-uppercase">
                                    <p class="my-0">adidas Campus ADV Black</p>
                                </div>
                                <div class="x-eliminar-producto-carrito">
                                    <a href="#"><i class="fas fa-times"></i></a>
                                </div>
                            </div>
                            <div class="abajo-descripcion-producto-carrito col-12 d-flex justify-content-between align-items-center  ml-0 pl-0">
                                <div class="talle-carrito">
                                    <p class="my-0">42 (US-10)</p>
                                </div>
                                <div class="precio-carrito">
                                    <p class="my-0">$4.579,99</p>
                                </div>
                            </div>
                        </div>
                    </article>
                </section>
            </div>
            <div class="col-12 col-md-12row mx-auto">
                <section class="detalles-compra col-12 d-flex justify-content-between px-0">
                    <div class="columna-izq pl-3 pt-2">
                        <p class="pb-0 mb-0">2 productos</p>
                        <p>Envío</p>
                        <p class="font-weight-bold text-uppercase">Total</p>
                    </div>
                    <div class="columna-der pr-3 pt-2">
                        <p class="pb-0 mb-0">$9159,98</p>
                        <p>$0,00</p>
                        <p class="font-weight-bold text-uppercase pb-0 mb-0">$9159,98</p>
                        <p class="iva-incluido mt-0 pt-0">IVA incluido</p>
                    </div>
                </section>
            </div>
        </div>
        <div class="content-tablet-laptop col-12 row d-flex justify-content-between align-items-start">
            <div class="listado-carrito col-9 row">
                <section class="encabezado-carrito col-12 d-flex justify-content-between align-items-end px-0 pb-2">
                    <h4 class="col-3 pl-0 mb-1 text-uppercase">carrito</h4>
                    <p class="col-7 pr-0 mb-1 d-flex justify-content-end">3 elementos en su carrito</p>
                </section>
                <section class="container-fluid d-flex justify-content-end pr-0 py-4 lista-productos-laptop">
                    <div class="col-12 row d-flex justify-content-between align-items-center pl-0">
                        <div class="col-3 img-carrito-laptop">
                            <img src="/public/img/Campus_ADV_Shoes_Black_B22716_01_standard.jpg" alt="Adidas Campus ADV Black">
                        </div>
                        <div class="col-4 pr-0">
                            <p class="font-weight-bold">Adidas Campus ADV</p>
                            <p>#AC45B65</p>
                            <div>
                                <i class="fas fa-circle" class="circulo-color-carrito" id="circulo-blanco"></i>
                                <i class="fas fa-circle" class="circulo-color-carrito" id="circulo-negro"></i>
                                <i class="fas fa-circle" class="circulo-color-carrito" id="circulo-dorado"></i>
                            </div>
                        </div>
                        <div class="col-2 px-1">
                            <a href="#">-</a>
                            <input type="number" value="1" min="1" max="10" step="10" class="text-center"/>
                            <a href="#">+</a>
                        </div>
                        <div class="col-2 precio-producto-carrito d-flex justify-content-end">
                            <p>$4.798.99</p>
                        </div>
                        <div class="col-1 d-flex justify-content-end pr-0">
                            <a href="#">X</a>
                        </div>
                    </div>
                </section>
                <section class="container-fluid d-flex justify-content-end pr-0 py-4 lista-productos-laptop">
                    <div class="col-12 row d-flex justify-content-between align-items-center pl-0">
                        <div class="col-3 img-carrito-laptop">
                            <img src="/public/img/Campus_ADV_Shoes_Black_B22716_01_standard.jpg" alt="Adidas Campus ADV Black">
                        </div>
                        <div class="col-4 pr-0">
                            <p class="font-weight-bold">Adidas Campus ADV</p>
                            <p>#AC45B65</p>
                            <div>
                                <i class="fas fa-circle" class="circulo-color-carrito" id="circulo-blanco"></i>
                                <i class="fas fa-circle" class="circulo-color-carrito" id="circulo-negro"></i>
                                <i class="fas fa-circle" class="circulo-color-carrito" id="circulo-dorado"></i>
                            </div>
                        </div>
                        <div class="col-2 px-1">
                            <a href="#">-</a>
                            <input type="number" value="1" min="1" max="10" step="10" class="text-center"/>
                            <a href="#">+</a>
                        </div>
                        <div class="col-2 precio-producto-carrito d-flex justify-content-end">
                            <p>$4.798.99</p>
                        </div>
                        <div class="col-1 d-flex justify-content-end pr-0">
                            <a href="#">X</a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="final-operacion-carrito col-3 row d-flex justify-content-start">
                <div>
                    <p class="font-weight-bold text-uppercase col-12">total</p>
                    <p class="font-weight-bold text-uppercase col-12">$9.999,99</p>
                </div>
                <div class="botones-carrito col-12">
                    <a href="#">
                        <div class="col-12 boton-negro-carrito d-flex justify-content-center align-items-center">
                            <p class="text-uppercase my-auto">realizar pedido</p>
                        </div>
                    </a>
                </div>
                <div class="botones-carrito col-12">
                    <a href="#">
                        <div class="col-12 boton-blanco-carrito d-flex justify-content-center align-items-center">
                            <p class="text-uppercase my-auto">seguir comprando</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="camino-carrito col-12 d-flex justify-content-center align-center">
            <a href="#" class="px-1">SNKRST</a>
            <p class="px-1">|</p>
            <a href="#" class="px-1">CARRITO</a>
        </div>
        
    </main>

    <footer class="container-fluid px-0">
        <section class="content-mobile fondo-footer col-12 row mx-auto">
            <div class="redes-footer col-12 d-flex justify-content-around my-4 text-uppercase">
                <a href="https://www.instagram.com">Instagram</a>
                <a href="https://www.behance.com">Behance</a>
                <a href="https://www.facebook.com">Facebook</a>
            </div>
            <div class="logo-copyright-footer col-12 row mx-auto my-2">
                <div class="col-6 mx-auto text-center">
                    <a href="#"><img src="/public/img/Mesa de trabajo 3@.png" alt="Logo Sneakerest" class="logo-footer-mobile mx-auto"></a>
                    <p class="copyright-footer-mobile mx-auto">© 2020 Copyright: SNEAKEREST S.R.L.</p>
                </div>
            </div>
        </section>
        <section class=" content-mobile-tablet content-tablet-laptop fondo-footer col-12 row mx-auto">
            <div class="ruteo-footer col-12 row my-4 mx-auto d-flex justify-content-around">
                <div class="col-3 categorias">
                    <ul class="listas-ruteo-footer">
                        <li class="text-uppercase font-weight-bold">categorias</li>
                        <a href="#"><li>Men</li></a>
                        <a href="#"><li>women</li></a>
                        <a href="#"><li>Kids</li></a>
                        <a href="#"><li>New in</li></a>
                        <a href="#"><li>SALE</li></a>
                    </ul>
                </div>
                <div class="col-3 marcas">
                    <ul class="listas-ruteo-footer">
                        <li class="text-uppercase font-weight-bold">marcas</li>
                        <a href="#"><li>Adidas</li></a>
                        <a href="#"><li>Converse</li></a>
                        <a href="#"><li>DC Shoes</li></a>
                        <a href="#"><li>New Balance</li></a>
                        <a href="#"><li>Nike</li></a>
                        <a href="#"><li>Rebook</li></a>
                        <a href="#"><li>Vans</li></a>
                    </ul>
                </div>
                <div class="col-3 soporte">
                    <ul class="listas-ruteo-footer">
                        <li class="text-uppercase font-weight-bold">soporte</li>
                        <a href="#"><li>Ayuda</li></a>
                        <a href="#"><li>Cambios</li></a>
                        <a href="#"><li>Devoluciones</li></a>
                        <a href="#"><li>Envíos</li></a>
                        <a href="#"><li>Seguimiento</li></a>
                        <a href="#"><li>Tabla de talles</li></a>
                    </ul>
                </div>
                <div class="col-3 sobre-snkrst">
                    <ul class="listas-ruteo-footer">
                        <li class="text-uppercase font-weight-bold">Sobre snkrst</li>
                        <a href="#"><li>Nosotros</li></a>
                        <a href="#"><li>Proposito</li></a>
                        <a href="#"><li>Noticias</li></a>
                    </ul>
                </div>
            </div>
            <div class="segunda-linea-footer-tablet col-12 row d-flex justify-content-between align-items-end mx-auto my-3">
                <div class="redes-footer col-4 row mx-0 px-0">
                    <div class="col-12 mb-3 px-0 d-flex justify-content-between">
                        <a href="https://www.instagram.com" class="mx-auto">Instagram</a>
                        <a href="https://www.behance.com" class="mx-auto">Behance</a>
                        <a href="https://www.facebook.com" class="mx-auto">Facebook</a>
                    </div>
                </div>
                <div class="logo-footer col-3 px-0">
                    <a href="#"><img src="/public/img/Mesa de trabajo 3@.png" alt="Logo Sneakerest" class="logo-footer-mobile mx-auto"></a>
                </div>
                <div class="col-4 px-0 d-flex justify-content-end">
                    <p class="copyright-footer mx-auto">© 2020 Copyright: SNEAKEREST S.R.L.</p>
                </div>
            </div>
        </section>
    </footer>
    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>