<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakerest</title>
    <!--Fontawesonme icons & Google Fonts-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Mi CSS-->
    <link rel="stylesheet" href="../../../public/css/master.css">
</head>
<body>
    <!--HEADER-->
    <header class="container-fullwidth">
        <nav class="navbar navbar-expand bg-dark"></nav>
    </header>
    
    
    
    
    
    
    
    
    
    
    <!-- FOOTER -->
    <footer class="page-footer font-small mt-5 pt-4 text-uppercase">
        <!--LINKS REDES-->
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col">
                    <h5><a href="https://www.instagram.com">Instagram</a></h5>
                </div>
                <div class="col">
                    <h5><a href="https://www.behance.com">Behance</a></h5>
                </div>
                <div class="col">
                    <h5><a href="https://www.facebook.com">Facebook</a></h5>
                </div>
            </div>
        </div>  
        <!--LOGO-->
        <div class="logo-footer mx-auto mb-0 pt-4">
            <a href="/"><img src="../../../public/img/Mesa de trabajo 3@.png" class="img-responsive" alt="Logo Sneakerest"></a>
        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center mb-0 pb-3">© 2020 Copyright:
            <a href="/">©sneakerest s.r.l.</a>
        </div>
    </footer>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>