<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakerest</title>
    <!--Fontawesonme icons & Google Fonts-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Mi CSS-->
    <link rel="stylesheet" href="../../../public/css/master.css">
</head>
<body>
    <!--HEADER-->
    <header class="container-fullwidth">
        <nav class="navbar navbar-expand bg-dark"></nav>
    </header>
    <!--LISTADO DE PRODUCTOS-->
    <main class="container">
        <div class="container text-right">
            <div class="row btn-group">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle text-uppercase rounded-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ordenar</button>
                    <div class="dropdown-menu dropdown-menu-right text-uppercase" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">novedades</a>
                        <a class="dropdown-item" href="#">Los más vendidos</a>
                        <a class="dropdown-item" href="#">precio (menor a mayor)</a>
                        <a class="dropdown-item" href="#">precio (mayor a menor)</a>
                        
                    </div>
                </div>
                <div class="dropdown pl-3">
                    <button class="btn btn-secondary dropdown-toggle text-uppercase rounded-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">+ filtros</button>
                    <div class="dropdown-menu filtros-dropdown dropdown-menu-right text-uppercase rounded-0 border-0" aria-labelledby="dropdownMenuButton">
                        <ul class="lista-filtros pl-5">
                            <li class="titulo-filtros pt-5">marcas</li>
                            <section class="pt-3">
                                <ul>
                                    <li><a href="#">Adidas</a></li>
                                    <li><a href="#">converse</a></li>
                                    <li><a href="#">dc shoes</a></li>
                                    <li><a href="#">new balance</a></li>
                                    <li><a href="#">nike</a></li>
                                    <li><a href="#">rebook</a></li>
                                    <li><a href="#">vans</a></li>
                                </ul>
                            </section>
                            <li class="titulo-filtros pt-5">talles</li>
                            <section class="lista-talles pt-3">
                                <div class="numeros-talles text-center">
                                    <a href="#">38</a>
                                </div>
                                <div class="numeros-talles text-center">
                                    <a href="#">38.5</a>
                                </div>
                                <div class="numeros-talles text-center">
                                    <a href="#">39</a>
                                </div>
                                <div class="numeros-talles text-center">
                                    <a href="#">39.5</a>
                                </div>
                                <div class="numeros-talles text-center">
                                    <a href="#">40</a>
                                </div>
                                <div class="numeros-talles text-center">
                                    <a href="#">40.5</a>
                                </div>
                                <div class="numeros-talles text-center">
                                    <a href="#">41</a>
                                </div>
                                <div class="numeros-talles text-center">
                                    <a href="#">41.5</a>
                                </div>
                                <div class="numeros-talles text-center">
                                    <a href="#">42</a>
                                </div>
                                <div class="numeros-talles text-center">
                                    <a href="#">42.5</a>
                                </div>
                                <div class="numeros-talles text-center">
                                    <a href="#">43</a>
                                </div>
                                <div class="numeros-talles text-center">
                                    <a href="#">43.5</a>
                                </div>
                                <div class="numeros-talles text-center">
                                    <a href="#">44</a>
                                </div>
                            </section>
                            <li class="titulo-filtros pt-5">Colores</li>
                            <section class="lista-colores row pt-3">
                                <div class="circulos-colores col-2">
                                    <i class="fas fa-circle circulos-filtros" id="circulo-naranja"></i>
                                </div>
                                <div class="circulos-colores col-2">
                                    <i class="fas fa-circle circulos-filtros" id="circulo-celeste"></i>
                                </div>
                                <div class="circulos-colores col-2">
                                    <i class="fas fa-circle circulos-filtros" id="circulo-rojo"></i>
                                </div>
                                <div class="circulos-colores col-2">
                                    <i class="fas fa-circle circulos-filtros" id="circulo-amarillo"></i>
                                </div>
                                <div class="circulos-colores col-2">
                                    <i class="fas fa-circle circulos-filtros" id="circulo-verde"></i>
                                </div>
                                <div class="circulos-colores col-2">
                                    <i class="fas fa-circle circulos-filtros" id="circulo-azul"></i>
                                </div>
                                <div class="circulos-colores col-2">
                                    <i class="fas fa-circle circulos-filtros" id="circulo-gris"></i>
                                </div>
                                <div class="circulos-colores col-2">
                                    <i class="fas fa-circle circulos-filtros" id="circulo-blanco"></i>
                                </div>
                                <div class="circulos-colores col-2">
                                    <i class="fas fa-circle circulos-filtros" id="circulo-negro"></i>
                                </div>
                            </section>
                            <li class="titulo-filtros pt-5">precio</li>
                            <section class="filtro-precio pt-3">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Min</label>
                                            <input type="number" class="form-control rounded-0 border border-dark" id="inputEmail4" placeholder="$0">
                                        </div>
                                        <div class="form-group col-md-6 text-left">
                                            <label>Max</label>
                                            <input type="number" class="form-control rounded-0 border border-dark" placeholder="$1,0000">
                                        </div>
                                    </div>
                                </div> <!-- card-body.// -->
                            </section>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="row mx-auto">
        <article class="col align-items-center">
            <div class="card">
                <div class="recuadro-gris">
                    <img src="../../../public/img/Busenitz_Shoes_Blue_FV5876_01_standard.jpg" class="card-img-top" alt="Adidas Busenitz">
                </div>
                <div class="card-body text-center">
                    <p class="card-text">Adidas Busenitz</p>
                    <p class="card-text">$4999</p>
                </div>
            </div>
            <div class="card">
                <div class="recuadro-gris">
                    <img src="../../../public/img/Busenitz_Shoes_Blue_FV5876_01_standard.jpg" class="card-img-top" alt="Adidas Busenitz">
                </div>
                <div class="card-body text-center">
                    <p class="card-text">Adidas Busenitz</p>
                    <p class="card-text">$4999</p>
                </div>
            </div>
            <div class="card">
                <div class="recuadro-gris">
                    <img src="../../../public/img/Busenitz_Shoes_Blue_FV5876_01_standard.jpg" class="card-img-top" alt="Adidas Busenitz">
                </div>
                <div class="card-body text-center">
                    <p class="card-text">Adidas Busenitz</p>
                    <p class="card-text">$4999</p>
                </div>
            </div>
        </article>
        <article class="col align-items-center">
            <div class="card">
                <div class="recuadro-gris">
                    <img src="../../../public/img/Campus_ADV_Shoes_Black_B22716_01_standard.jpg" class="card-img-top" alt="Adidas Campus ADV">
                </div>
                <div class="card-body text-center">
                    <p class="card-text">Adidas Campus</p>
                    <p class="card-text">$5499</p>
                </div>
            </div>
            <div class="card">
                <div class="recuadro-gris">
                    <img src="../../../public/img/Campus_ADV_Shoes_Black_B22716_01_standard.jpg" class="card-img-top" alt="Adidas Campus ADV">
                </div>
                <div class="card-body text-center">
                    <p class="card-text">Adidas Campus</p>
                    <p class="card-text">$5499</p>
                </div>
            </div>
            
        </article>
    </div>
</main>
<!-- FOOTER -->
<footer class="page-footer font-small mt-5 pt-4 text-uppercase">
    <!--LINKS REDES-->
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col">
                <h5><a href="https://www.instagram.com">Instagram</a></h5>
            </div>
            <div class="col">
                <h5><a href="https://www.behance.com">Behance</a></h5>
            </div>
            <div class="col">
                <h5><a href="https://www.facebook.com">Facebook</a></h5>
            </div>
        </div>
    </div>  
    <!--LOGO-->
    <div class="logo-footer mx-auto mb-0 pt-4">
        <a href="/"><img src="../../../public/img/Mesa de trabajo 3@.png" class="img-responsive" alt="Logo Sneakerest"></a>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center mb-0 pb-3">© 2020 Copyright:
        <a href="/">©sneakerest s.r.l.</a>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>