<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakerest</title>
    <!--Fontawesonme icons & Google Fonts-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Mi CSS-->
    <link rel="stylesheet" href="css/productos.css">
</head>
<body>
    
<header>
        <!--nav-->
        <nav class="d-flex justify-content-between align-items-center">
            <div id="item1" class="box">
                <a href="/"><img src="img/logonegro@.png" alt=""></i></a>
            </div>
            <div id="item2" class="box">
                <h1 class="m-auto p-auto">NEW IN</h1>
            </div>
            <div id="item3" class="box">
                <a href="/carrito"><i class="fas fa-shopping-cart" style="color: black;"></i></a>
            </div>
        </nav>
</header>
<main>
    
    <div class="orden-filtros pb-0 mt-0">
        <div class="marcas-arriba d-none d-md-block">
            <a href="#">Adidas</a>
            <a href="#">Converse</a>
            <a href="#">DC Shoes</a>
            <a href="#">New Balance</a>
            <a href="#">Nike</a>
            <a href="#">Rebook</a>
            <a href="#">Vans</a>
            <a href="#">Ver Todas</a>
        </div>
        
            <div class="dos-drops1 col-12 d-flex justify-content-end d-sm-block d-md-none content-mov">
                <div class="dropdown ">
                    <button class="btn btn-secondary dropdown-toggle boton-orden-filtro" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        orden
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Novedades</a>
                        <a class="dropdown-item" href="#">Los más vendidos</a>
                        <a class="dropdown-item" href="#">Precio (menor a mayor)</a>
                        <a class="dropdown-item" href="#">Precio (mayor a menor)</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle boton-orden-filtro" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        + filtros
                    </button>
                    <div class="dropdown-menu dropdown-menu-right filtros-menu-drop" aria-labelledby="dropdownMenuButton">
                        <div class="contenedores-panel-filtros">
                            <a class="dropdown-item titulo-panel-filtros" href="#">talles</a>
                            <div class="padre-box-talles">
                                <a href="#"><div class="box-talles">38.5</div></a>
                                <a href="#"><div class="box-talles">39</div></a>
                                <a href="#"><div class="box-talles">39.5</div></a>
                                <a href="#"><div class="box-talles">40</div></a>
                                <a href="#"><div class="box-talles">40.5</div></a>
                                <a href="#"><div class="box-talles">41</div></a>
                                <a href="#"><div class="box-talles">41.5</div></a>
                                <a href="#"><div class="box-talles">42</div></a>
                                <a href="#"><div class="box-talles">42.5</div></a>
                                <a href="#"><div class="box-talles">43</div></a>
                                <a href="#"><div class="box-talles">43.5</div></a>
                                <a href="#"><div class="box-talles">44</div></a>
                                
                            </div>
                        </div>
                        <div class="contenedores-panel-filtros">
                            <a class="dropdown-item titulo-panel-filtros" href="#">colores</a>
                            <div class="padre-box-colores">
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-naranja"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-rojo"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-azul"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-celeste"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-verde"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-amarillo"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-violeta"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-rosa"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-marron"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-gris"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-blanco"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-negro"></i></a>
                            </div>
                        </div>
                        <div class="contenedores-panel-filtros">
                            <p class="titulo-panel-filtros">Precio</p>
                            <div class="card-body padre-box-precio">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Min</label>
                                        <input type="number" class="form-control rounded-0 border border-dark" id="inputEmail4" placeholder="$0">
                                    </div>
                                    <div class="form-group col-md-6 text-left">
                                        <label>Max</label>
                                        <input type="number" class="form-control rounded-0 border border-dark" placeholder="$99.999,99">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dos-drops content-drop">
                <div class="dropdown ">
                    <button class="btn btn-secondary dropdown-toggle boton-orden-filtro" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        orden
                    </button>
                    <div class="dropdown-menu dropdown-menu-right titulo-panel-filtros" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Novedades</a>
                        <a class="dropdown-item" href="#">Los más vendidos</a>
                        <a class="dropdown-item" href="#">Precio (menor a mayor)</a>
                        <a class="dropdown-item" href="#">Precio (mayor a menor)</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle boton-orden-filtro" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        + filtros
                    </button>
                    <div class="dropdown-menu dropdown-menu-right filtros-menu-drop" aria-labelledby="dropdownMenuButton">
                        <div class="contenedores-panel-filtros">
                            <a class="dropdown-item titulo-panel-filtros" href="#">talles</a>
                            <div class="padre-box-talles">
                                <a href="#"><div class="box-talles">38.5</div></a>
                                <a href="#"><div class="box-talles">39</div></a>
                                <a href="#"><div class="box-talles">39.5</div></a>
                                <a href="#"><div class="box-talles">40</div></a>
                                <a href="#"><div class="box-talles">40.5</div></a>
                                <a href="#"><div class="box-talles">41</div></a>
                                <a href="#"><div class="box-talles">41.5</div></a>
                                <a href="#"><div class="box-talles">42</div></a>
                                <a href="#"><div class="box-talles">42.5</div></a>
                                <a href="#"><div class="box-talles">43</div></a>
                                <a href="#"><div class="box-talles">43.5</div></a>
                                <a href="#"><div class="box-talles">44</div></a>
                                
                            </div>
                        </div>
                        <div class="contenedores-panel-filtros">
                            <a class="dropdown-item titulo-panel-filtros" href="#">colores</a>
                            <div class="padre-box-colores">
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-naranja"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-rojo"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-azul"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-celeste"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-verde"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-amarillo"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-violeta"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-rosa"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-marron"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-gris"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-blanco"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-negro"></i></a>
                            </div>
                        </div>
                        <div class="contenedores-panel-filtros">
                            <p class="titulo-panel-filtros">Precio</p>
                            <div class="card-body padre-box-precio">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Min</label>
                                        <input type="number" class="form-control rounded-0 border border-dark" id="inputEmail4" placeholder="$0">
                                    </div>
                                    <div class="form-group col-md-6 text-left">
                                        <label>Max</label>
                                        <input type="number" class="form-control rounded-0 border border-dark" placeholder="$99.999,99">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        
    </div>
    <div class="lista-productos">
        <div class="box-productos">
            <a href="/detalleProducto" class="jover">
            <div class="fondo-gris-productos">
                <img src="img/Busenitz_Shoes_Blue_FV5876_01_standard.jpg" alt="Adidas Busenitz">
            </div>
            </a>
            <div class="modelo-precio">
                <p>Adidas Busenitz</p>
                <p>$4789</p>
            </div>
            
        </div>
        <div class="box-productos">
            <a href="/detalleProducto" class="jover">
            <div class="fondo-gris-productos">
                <img src="img/Campus_ADV_Shoes_Black_B22716_01_standard.jpg" alt="Adidas Campus ADV">
            </div>
            </a>
            <div class="modelo-precio">
                <p>Adidas Campus ADV</p>
                <p>$5999</p>
            </div>
        </div>
        <div class="box-productos">
            <a href="/detalleProducto" class="jover">
            <div class="fondo-grisOscuro-productos">
                <img src="img/converse/converseChucksAzules/162055C_A_107X1.jpg" alt="Converse Chucks Azules">
            </div>
            </a>
            <div class="modelo-precio">
                <p>Converse Chucks</p>
                <p>$3259</p>
            </div>
        </div>
        <div class="box-productos">
            <a href="/detalleProducto" class="jover">
            <div class="fondo-grisOscuro-productos">
                <img src="img/converse/converseChucksNaranjas/chucks1.jpg" alt="Converse Chucks Naranjas">
            </div>
            </a>
            <div class="modelo-precio">
                <p>Converse Chucks</p>
                <p>$3259</p>
            </div>
        </div>
        <div class="box-productos">
            <a href="/detalleProducto" class="jover">
            <div class="fondo-gris-productos">
                <img src="img/Busenitz_Shoes_Blue_FV5876_01_standard.jpg" alt="Adidas Busenitz">
            </div>
            </a>
            <div class="modelo-precio">
                <p>Adidas Busenitz</p>
                <p>$4789</p>
            </div>
            
        </div>
        <div class="box-productos">
            <a href="/detalleProducto" class="jover">
            <div class="fondo-gris-productos">
                <img src="img/Campus_ADV_Shoes_Black_B22716_01_standard.jpg" alt="Adidas Campus ADV">
            </div>
            </a>
            <div class="modelo-precio">
                <p>Adidas Campus ADV</p>
                <p>$5999</p>
            </div>
        </div>
        <div class="box-productos">
            <a href="/detalleProducto" class="jover">
            <div class="fondo-gris-productos">
                <img src="img/Campus_ADV_Shoes_Black_B22716_01_standard.jpg" alt="Adidas Campus ADV">
            </div>
            </a>
            <div class="modelo-precio">
                <p>Adidas Campus ADV</p>
                <p>$5999</p>
            </div>
        </div>
        <div class="box-productos">
            <a href="/detalleProducto" class="jover">
            <div class="fondo-grisOscuro-productos">
                <img src="img/converse/converseChucksAzules/162055C_A_107X1.jpg" alt="Converse Chucks Azules">
            </div>
            </a>
            <div class="modelo-precio">
                <p>Converse Chucks</p>
                <p>$3259</p>
            </div>
        </div>
        <div class="box-productos">
            <a href="/detalleProducto" class="jover">
                <div class="fondo-grisOscuro-productos">
                    <img src="img/converse/converseChucksNaranjas/chucks1.jpg" alt="Converse Chucks Naranjas">
                </div>
            </a>
            <div class="modelo-precio">
                <p>Converse Chucks</p>
                <p>$3259</p>
            </div>
        </div>
    </div>
    
    
</main>
<footer>
    <!--Footer mobile-->
    <div class="d-sm-block d-md-none">
        <div class="container-fluid fondo-footer mt-3">
            <div class="row">
                <!--Redes Footer-->
                <div class="col-10 d-flex justify-content-between align-items-center redes-footer mt-3 mx-auto">
                    <a href="https://www.instagram.com">Instagram</a>
                    <a href="https://www.behance.com">Behance</a>
                    <a href="https://www.facebook.com">Facebook</a>
                </div>
                <!--Logo footer-->
                <div class="col-12 mt-4 mb-0 pb-0">
                    <div class="col-12 text-center">
                        <a href="#"><img src="img/Mesa de trabajo 3@.png" alt="Logo Sneakerest" class="logo-footer-mobile mx-auto"></a>
                    </div>
                    <div class="col-12 text-center">
                        <p class="copyright-footer-mobile mx-auto">© 2020 Copyright: SNEAKEREST S.R.L.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer tablet para arriba-->
    <div class="d-none d-md-block">
        <div class="container-fluid fondo-footer redes-footer mx-auto w-100">
            <div class="col-12 row pt-5">
                <!--Mapa del sitio-->
                <div class="col-7 d-flex justify-content-around mapa-footer mapa-del-sitio">
                    <!--Categorias-->
                    <div class="col-2 d-flex flex-column">
                        <p class="font-weight-bold">Categorias</p>
                        <a href="#">Men</a>
                        <a href="#">Women</a>
                        <a href="#">Kids</a>
                        <a href="#">New In</a>
                        <a href="#">Sale</a>
                    </div>
                    <!--Marcas-->
                    <div class="col-2 d-flex flex-column">
                        <p class="font-weight-bold">Marcas
                        </p>
                        <a href="#">Adidas</a>
                        <a href="#">Converse</a>
                        <a href="#">DC Shoes</a>
                        <a href="#">New Balance</a>
                        <a href="#">Nike</a>
                        <a href="#">Rebook</a>
                        <a href="#">Vans</a>
                    </div>
                    <!--Soporte-->
                    <div class="col-2 d-flex flex-column">
                        <p 
                        class="font-weight-bold">Soporte</p>
                        <a href="#">Ayuda</a>
                        <a href="#">Cambios</a>
                        <a href="#">Devoluciones</a>
                        <a href="#">Envíos</a>
                        <a href="#">Seguimiento</a>
                        <a href="#">Tabla de talles</a>
                    </div>
                    <!--Sobre Nosotros-->
                    <div class="col-2 d-flex flex-column">
                        <p class="font-weight-bold">Sobre SNKRST</p>
                        <a href="#">Nosotros</a>
                        <a href="#">Proposito</a>
                        <a href="#">Noticias</a>
                    </div>
                </div>
                <!--Redes, logo y TC-->
                <div class="col-5 mapa-footer">
                    <!--Redes Footer-->
                    <div class="col-12 d-flex justify-content-around">
                        <a href="https://www.instagram.com">Instagram</a>
                        <a href="https://www.behance.com">Behance</a>
                        <a href="https://www.facebook.com">Facebook</a>
                    </div>
                    <!--Logo Footer-->
                    <div class="col-12 logo-footer">
                        <div class="col-12 text-center">
                            <a href="/"><img src="img/Mesa de trabajo 3@.png" alt="Logo Sneakerest" class="logo-footer-grande mx-auto"></a>
                        </div>
                        <div class="col-12 text-center">
                            <p class="copyright-footer-grande mx-auto" >© 2020 Copyright: SNEAKEREST S.R.L.</p>
                        </div>
                    </div>
                </div>
                <!--Terminos y condiciones-->
                <div class="col-12 terminos-condiciones d-flex justify-content-center align-items-center">
                    <a href="#">Términos y condiciones</a>
                    <p class="mb-0"> | </p>
                    <a href="#">Políticas de cambio</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>